{% load staticfiles %}

<html>
<head>
	<title>
		Profile
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#2d2251">
	<link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.ico"%}">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="{% static "css/default.css" %}">
	<link rel="stylesheet" href="{% static "css/main.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<link rel="stylesheet" href="{% static "css/font-awesome.css" %}">
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53104159-5', 'auto');
  ga('send', 'pageview');

	</script> 
</head>

<body>



    <div class="loader-container">
    <div class="loader">
      <img src="{% static "images/connect.gif"%}">
    </div>
    
  </div>



	{% for message in messages %}    
        <div class="notice-msg">
            {{ message }}
        </div>
    {% endfor %}

	<div class="overlay-dark-mob">
		<div class="cross-mobile"><i class="fa fa-times"></i></div>
	</div>
	<div class="dot-menu-links">
		
		<ul>				
			   <li>
                    <a href="{% url "home" %}">Home</a>
                </li>
                
                <li>
                    <a href="{% url "about" %}">About</a>
                </li>
                <li>
                    <a href="{% url "contact" %}">Contact</a>
                </li>
                
                <li>
                    <a href="http://jssaten.ac.in" target="_blank">JSS Website</a>
                </li>
			</li>
			
		</ul>
	</div>
	
		<div class="overlay-dark">
		<div class="cross-mobile"><i class="fa fa-times"></i></div>
	</div>

	  <div class="left-nav">
        <div class="logo">
           <a href="{% url "home" %}">
            <img src="{% static "images/logo.PNG"%}">
        </a>
        </div>

        <div class="left-nav-inner">
            <ul>
                <li class=" move-in">
                    <a href="{% url "notice-list" %}">
                    <i class="fa fa-thumb-tack"></i> &nbsp;All Notices<!-- <span class="number active_number">5</span> --></a>
                </li>
                <li class=" move-in">
                    <a href="{% url "relevent-notice-list" %}">
                    <i class="fa fa-tags"></i> &nbsp;Relevant<!-- <span class="number active_number">5</span> --></a>
                </li>
                <li class=" move-in">
                    <a href="{% url "notice-list" %}?category=administration">
                    <i class="fa fa-university"></i> &nbsp;Administration<!-- <span class="number">6</span> --></a>
                </li>
                <li class=" move-in">
                    <a href="{% url "notice-list" %}?category=academics">
                    <i class="fa fa- fa-pencil-square-o"></i> &nbsp;Academics<!-- <span class="number">2</span> --></a>
                </li>
                <li class=" move-in">
                    <a href="{% url "notice-list" %}?category=events">
                    <i class="fa fa-calendar"></i> &nbsp;Events<!-- <span class="number">2</span> --></a></li>
                </a>
                    <li class=" move-in">
                        <a href="{% url "notice-list" %}?category=tnp">
                        <i class="fa fa-graduation-cap"></i> &nbsp;Placement<!-- <span class="number">1</span> --></a>
                    </li>
                 
                    <li class=" move-in">
                        <a href="{% url "notice-list" %}?category=misc">
                        <i class="fa fa-list-alt"></i> &nbsp;Misc.<!-- <span class="number">9+</span> --></a>
                    </li>
                       <li class="">
                        <a class="search2">
                        <i class="fa fa-filter"></i> &nbsp;Filter Notices<!-- <span class="number">1</span> --></a>
                    </li>
                   	{% if request.user.groups.all.0.name == 'faculty' or request.user.groups.all.0.name == 'hod' or request.user.groups.all.0.name == 'management' %}
                    <li class="  move-in">
                        <a href="{% url "faculty-wifi" %}">
                        <i class="fa fa-wifi"></i> &nbsp;Wifi-Form</a>
                    </li>
                    {% else %}
                    <li class="  move-in">
                        <a href="{% url "student-wifi" %}">
                        <i class="fa fa-wifi"></i> &nbsp;Wifi-Form</a>
                    </li>
                    {% endif %}
                    <li class=" move-in">
                        <a href="{% url "bookmark-list" %}">
                        <i class="fa fa-star"></i> &nbsp;Starred</a>
                    </li>

                    <div class="line">
                    </div>

                    <li class=" active move-in">
                        <a href="{% url "user-profile" user_id=request.user.username %}">
                        <i class="fa fa-user"></i> &nbsp;My profile</a>
                    </li>
                    {% if request.user.groups.all.0.name == 'faculty' or request.user.groups.all.0.name == 'hod' or request.user.groups.all.0.name == 'management'  %}
                    <li class="  move-in">
                        <a href="{% url "my-uploaded-notices" %}">
                        <i class="fa fa-user-secret"></i> &nbsp;My uploaded notices</a>
                    </li>
                    {% endif %}
                    <li class="  move-in">
                        <a href="{% url "password_change" %}">
                        <i class="fa fa-key"></i> &nbsp;Change Password</a>
                    </li>
                    <li>
                        <a href="{% url "account_logout" %}">
                        <i class="fa fa-inbox"></i> &nbsp;Logout</a>
                    </li>
                </ul>
            </div>
        </div>




<div class="relevant-page">
		<header class="profile-header">
			<div class="row">
				<div class="heading-small col sm-col-4">
					<h3 class="profile-head"><span class="mobile-menu"><i class="fa fa-bars"></i></span>My Profile</h3>
				</div>
				<div class="head-links-resize col sm-col-8">
					<div class="head-links">
						<ul>
							   <li>
                                <a href="{% url "home" %}">Home</a>
                            </li>
                            
                            <li>
                                <a href="{% url "about" %}">About</a>
                            </li>
                            <li>
                                <a href="{% url "contact" %}">Contact</a>
                            </li>
                            
                            <li>
                                <a href="http://jssaten.ac.in" target="_blank">JSS Website</a>
                            </li>
							
						</ul>

					</div>
					<br>
					{% if user == user_list %}
					<span class="edit-profile-text edit-click"><i class="fa fa-pencil"></i> Edit Profile</span>
					<span id="demo-save" class="edit-profile-text edit-save-2"><i class="fa fa-save"></i> Save Details</span>
					{% endif %}

						<i class="mob-edit fa fa-pencil"></i> 
						<i class="mob-save fa fa-save"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<div class="mob-side-link">
						<span class="dot-mob">
						</span>
						<span class="dot-mob">
						</span>
						<span class="dot-mob">
						</span>
					</div>

				</div>
			</div>
		</header>
			<div class="profile-form" >
				<h3 style="color:red;"> * All the fields are mandatory.</h3>
				<form id="userprofile-form" action="{% url 'user-profile' user_id=request.user.username %}" method="POST">

				{% csrf_token %}

				<input type="hidden" value"{{user_type}}" name="user_type">

				
				<div class=" row">
					<div class="top-range col col-4">
						<h2><i class="fa fa-user-secret"></i>	&nbsp;Username </h2>
						<input type="text" class="input-style " placeholder="Username" value="{{user_list.username}}" name="username" disabled>
					</div>
					<div class="top-range col col-4">
						<h2><i class="fa fa-user"></i>	&nbsp;First Name <i class="show-icon fa fa-pencil"></i></h2>
						<input type="text" class="input-style edit-input" placeholder="First Name" value="{{ user_list.first_name }}" name="first_name" disabled>
					</div>
					<div class="top-range col col-4">
						<h2><i class="fa fa-user"></i>	&nbsp;Last Name <i class="show-icon fa fa-pencil"></i></h2>
						<input type="text" class="input-style edit-input" placeholder="Last Name" value="{{ user_list.last_name }}" name="last_name" disabled>
					</div>
				</div>
				
				{% if user_type == 'student' %}

					<div class=" row">
						<div class="top-range col col-4">
							<h2><i class="fa fa-graduation-cap"></i>	&nbsp;Course <i class="show-icon fa fa-pencil"></i></h2>
							 <select  placeholder="" name="course" class="input-style edit-input"  disabled>
                        
		                        <option value="" >Courses</option>
		                        <option value="BTech" {%ifequal detail_list.course 'BTech' %}selected="selected"{% endifequal %} >BTech</option>
		                        <option value="MTech" {%ifequal detail_list.course 'MTech' %}selected="selected"{% endifequal %} >MTech</option>
		                        <option value="MCA" {%ifequal detail_list.course 'MCA' %}selected="selected"{% endifequal %} >MCA</option>
		                        <option value="MBA" {%ifequal detail_list.course 'MBA' %}selected="selected"{% endifequal %} >MBA</option>

                    </select>
						</div>

						<div class="top-range col col-4">
							<h2><i class="fa fa-code-fork"></i>	&nbsp;Branch <i class="show-icon fa fa-pencil"></i></h2>
							<select  placeholder="" name="branch" class="input-style edit-input"  disabled>
	                        <option value="" {%ifequal detail_list.branch '' %}selected="selected"{% endifequal %}>Branches</option>
	                        <option value="CSE" {%ifequal detail_list.branch 'CSE' %}selected="selected"{% endifequal %}>CSE</option>
	                        <option value="IT" {%ifequal detail_list.branch 'IT' %}selected="selected"{% endifequal %}>IT</option>
	                        <option value="ECE" {%ifequal detail_list.branch 'ECE' %}selected="selected"{% endifequal %}>ECE</option>
	                        <option value="EE" {%ifequal detail_list.branch 'EE' %}selected="selected"{% endifequal %}>EE</option>
	                        <option value="EEE" {%ifequal detail_list.branch 'EEE' %}selected="selected"{% endifequal %}>EEE</option>
	                        <option value="CE" {%ifequal detail_list.branch 'CE' %}selected="selected"{% endifequal %}>CE</option>
	                        <option value="IC" {%ifequal detail_list.branch 'IC' %}selected="selected"{% endifequal %}>IC</option>
	                        <option value="MT" {%ifequal detail_list.branch 'MT' %}selected="selected"{% endifequal %}>MT</option>
	                        <option value="ME" {%ifequal detail_list.branch 'ME' %}selected="selected"{% endifequal %}>ME</ssoption>
	                    	</select>
						</div>

						<div class="top-range col col-4">
							<h2><i class="fa fa-envelope"></i>	&nbsp;Year <i class="show-icon fa fa-pencil"></i></h2>
							  <select  placeholder="" name="year" class="input-style edit-input"  disabled>
                        <option value="" {%ifequal detail_list.year '' %}selected="selected"{% endifequal %}>Year</option>
                        <option value="1" {%ifequal detail_list.year 1 %}selected="selected"{% endifequal %}>1</option>
                        <option value="2" {%ifequal detail_list.year 2 %}selected="selected"{% endifequal %}>2</option>
                        <option value="3" {%ifequal detail_list.year 3 %}selected="selected"{% endifequal %}>3</option>
                        <option value="4" {%ifequal detail_list.year 4 %}selected="selected"{% endifequal %}>4</option>

                        
                    </select>
						</div>
					
					</div>
					<div class="row">

						<div class="top-range col col-4">
							<h2><i class="fa fa-puzzle-piece" ></i>	&nbsp;Section <i class="show-icon fa fa-pencil"></i></h2>
							  <select  placeholder="" name="section" class="input-style edit-input"  disabled>
                        <option value="" {%ifequal detail_list.section '' %}selected="selected"{% endifequal %}>Sections</option>
                        <option value="CSE1" {%ifequal detail_list.section 'CSE1' %}selected="selected"{% endifequal %}>CSE1</option>
                        <option value="CSE2" {%ifequal detail_list.section 'CSE2' %}selected="selected"{% endifequal %}>CSE2</option>
                        <option value="IT1" {%ifequal detail_list.section 'IT1' %}selected="selected"{% endifequal %}>IT1</option>
                        <option value="IT2" {%ifequal detail_list.section 'IT2' %}selected="selected"{% endifequal %}>IT2</option>
                        <option value="ECE1" {%ifequal detail_list.section 'ECE1' %}selected="selected"{% endifequal %}>ECE1</option>
                        <option value="ECE2" {%ifequal detail_list.section 'ECE2' %}selected="selected"{% endifequal %}>ECE2</option>
                        <option value="EE1" {%ifequal detail_list.section 'EE1' %}selected="selected"{% endifequal %}>EE1</option>
                        <option value="EE2" {%ifequal detail_list.section 'EE2' %}selected="selected"{% endifequal %}>EE2</option>
                        <option value="CE1" {%ifequal detail_list.section 'CE1' %}selected="selected"{% endifequal %}>CE1</option>
                        <option value="CE2" {%ifequal detail_list.section 'CE2' %}selected="selected"{% endifequal %}>CE2</option>
                        <option value="EEE1" {%ifequal detail_list.section 'EEE1' %}selected="selected"{% endifequal %}>EEE1</option>
                        <option value="EEE2" {%ifequal detail_list.section 'EEE2' %}selected="selected"{% endifequal %}>EE2</option>
                        <option value="IC1" {%ifequal detail_list.section 'IC1' %}selected="selected"{% endifequal %}>IC1</option>
                        <option value="IC2" {%ifequal detail_list.section 'IC2' %}selected="selected"{% endifequal %}>IC2</option>
                        <option value="MT1" {%ifequal detail_list.section 'MT1' %}selected="selected"{% endifequal %}>MT1</option>
                        <option value="MT2" {%ifequal detail_list.section 'MT2' %}selected="selected"{% endifequal %}>MT2</option>
                        <option value="ME1" {%ifequal detail_list.section 'ME1' %}selected="selected"{% endifequal %}>ME1</option>
                        <option value="ME2" {%ifequal detail_list.section 'ME2' %}selected="selected"{% endifequal %}>ME2</option>
                        <option value="ME3" {%ifequal detail_list.section 'ME3' %}selected="selected"{% endifequal %}>ME3</option>
                        
                    </select>
						</div>

						{% if not detail_list.display_to_others == False or user == user_list %}

						<div class="top-range col col-4 ">
							<h2><i class="fa fa-envelope"></i>	&nbsp;Email <i class="show-icon fa fa-pencil"></i></h2>
							<input type="email" class="input-style edit-input" placeholder="Email" value="{{ user_list.email }}" name="email" disabled>
						</div>

						<div class="top-range col col-4">
							<h2><i class="fa fa-building"></i>	&nbsp;University Roll No. <i class="show-icon fa fa-pencil"></i></h2>
							<input type="text" class="input-style edit-input" placeholder="University Roll No." value="{{ detail_list.univ_roll_no }}" name="univ_roll_no" disabled>
						</div>

					</div>
					
					<div class=" row">
						<div class="top-range col col-4">
							<h2><i class="fa fa-phone"></i>	&nbsp;Contact No. <i class="show-icon fa fa-pencil"></i></h2>
							<input type="text" id="num" maxlength="10" class="input-style edit-input" placeholder="Contact No." value="{{ detail_list.contact_no }}" name="contact_no" pattern="\d{10}" disabled>
						</div>
						<div class="top-range col col-4">
							<h2><i class="fa fa-home"></i>	&nbsp;Address <i class="show-icon fa fa-pencil"></i></h2>
							<input type="text" class="input-style edit-input" placeholder="Address" value="{{ detail_list.address }}" name="address" disabled>
						</div>
						<div class="top-range col col-4">
							<h2><i class="fa fa-user"></i>	&nbsp;Father's Name <i class="show-icon fa fa-pencil"></i></h2>
							<input type="text" class="input-style edit-input" placeholder="Father's Name" value="{{ detail_list.father_name }}"  name="father_name" disabled>
						</div>
					</div>

					<div class=" row">
						
						
						<div class="top-range col col-4">
							<h2><i class="fa fa-user"></i>	&nbsp;Mother's Name <i class="show-icon fa fa-pencil"></i></h2>
							<input type="text" class="input-style edit-input" placeholder="Mother's Name" value="{{ detail_list.mother_name }}" name="mother_name" disabled>
						</div>

					</div>
						{% else %}
			                </div>
			                <p>This user has made other details as private.</p>
		            	{% endif %}


				{% elif user_type == 'faculty' %}

					<div class=" row">
						<div class="top-range col col-4">
							<h2><i class="fa fa-envelope"></i>	&nbsp;Email <i class="show-icon fa fa-pencil"></i></h2>
							<input type="email" class="input-style edit-input" placeholder="Email" value="{{ user_list.email }}" name="email" disabled>
						</div>

						<div class="top-range col col-4 ">
							<h2><i class="fa fa-info"></i>	&nbsp;Alternate Email <i class="show-icon fa fa-pencil"></i></h2>
							<input type="email" class="input-style edit-input" placeholder="Alternate Email" value="{{ detail_list.alternate_email }}" name="alternate_email" disabled>
						</div>

						<div class="top-range col col-4">
							<h2><i class="fa fa-envelope"></i>	&nbsp;Designation <i class="show-icon fa fa-pencil"></i></h2>
							<input type="text" class="input-style edit-input" placeholder="University Roll No." value="{{ detail_list.designation }}" name="designation" disabled>
						</div>

					</div>
					
					<div class=" row">
						<div class="top-range col col-4">
							<h2><i class="fa fa-building"></i>	&nbsp;Department <i class="show-icon fa fa-pencil"></i></h2>
							<select  placeholder="Department" name="department" class="input-style edit-input"  disabled>
	                        <option value="" {%ifequal detail_list.department 'BTech' %}selected="selected"{% endifequal %}>Branches</option>
	                        <option value="CSE" {%ifequal detail_list.department 'CSE' %}selected="selected"{% endifequal %}>CSE</option>
	                        <option value="IT" {%ifequal detail_list.department 'IT' %}selected="selected"{% endifequal %}>IT</option>
	                        <option value="ECE" {%ifequal detail_list.department 'ECE' %}selected="selected"{% endifequal %}>ECE</option>
	                        <option value="EE" {%ifequal detail_list.department 'EE' %}selected="selected"{% endifequal %}>EE</option>
	                        <option value="CE" {%ifequal detail_list.department 'CE' %}selected="selected"{% endifequal %}>CE</option>
	                        <option value="IC" {%ifequal detail_list.department 'IC' %}selected="selected"{% endifequal %}>IC</option>
	                        <option value="MT" {%ifequal detail_list.department 'MT' %}selected="selected"{% endifequal %}>MT</option>
	                        <option value="ME" {%ifequal detail_list.department 'ME' %}selected="selected"{% endifequal %}>ME</option>
                            <option value="MCA" {%ifequal detail_list.department 'MCA' %}selected="selected"{% endifequal %}>MCA</option>
                            <option value="MBA" {%ifequal detail_list.department 'MBA' %}selected="selected"{% endifequal %}>MBA</option>
                            <option value="MTech" {%ifequal detail_list.department 'MTech' %}selected="selected"{% endifequal %}>MTech</option>
	                    	</select>
						</div>

						{% if not detail_list.display_to_others == False or user == user_list %}
							<div class="top-range col col-4">
								<h2><i class="fa fa-phone"></i>	&nbsp;Contact Number <i class="show-icon fa fa-pencil"></i></h2>
								<input type="text" max="10" id="num2" class="input-style edit-input" placeholder="Contact Number" value="{{ detail_list.contact_no }}" name="contact_no" disabled>
							</div>
							<div class="top-range col col-4">
								<h2><i class="fa fa-home"></i>	&nbsp;Address <i class="show-icon fa fa-pencil"></i></h2>
								<input type="text" class="input-style edit-input" placeholder="Address" value="{{ detail_list.address }}"name="address" disabled>
							</div>
					</div>
						{% else %}
			                </div>
			                <p>This user has made other details as private.</p>
		            	{% endif %}
		            


				{% endif %}
			<br>
			
			</form>
			
			{% if user == user_list %}
			<div class="edit-profile edit-click">
				 Edit Profile
			</div>
			
			<div class="edit-profile edit-save">
				 Save Details
			</div>  

			<!-- working with django -->
			<!-- &nbsp;&nbsp;

			<span id="profile-warn"> Please enter valid email address!</span>
			{% endif %} -->
		

</div>

<footer>
      <h4>Quick Links</h4>
      <div class="footer-line"></div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>View Result</h4>
          </div>
          <div class="col col-3">
            <h4>My Inbox</h4>
          </div>
          <div class="col col-3">
            <h4>Register</h4>
          </div>
          <div class="col col-3">
            <h4>Forum</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>JSS Library</h4>
          </div>
          <div class="col col-3">
            <h4><a href="http://jssaten.ac.in/" target="_blank">JSS Website</a></h4>
          </div>
          <div class="col col-3">
            <h4>JSS STEP</h4>
          </div>
          <div class="col col-3">
            <h4><a href="http://aktu.ac.in/" target="_blank">UPTU Website</a></h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>Old Question Paper</h4>
          </div>
          <div class="col col-3">
            <h4>JSS Mailbox</h4>
          </div>
          <div class="col col-3">
            <h4><a href="http://hackncs.com/" target="_blank">Nibble Website</a></h4>
          </div>
          <div class="col col-3">
            <h4>Other Societies</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>Computer Science & Engineering</h4>
          </div>
          <div class="col col-3">
            <h4>Electrical Engineering</h4>
          </div>
          <div class="col col-3">
            <h4>Electronics & Communication Engineering</h4>
          </div>
          <div class="col col-3">
            <h4>Mechanical Engineering</h4>
          </div>
        </div>
      </div>
      <div class="sub-footer ">
        <h4><a href="http://www.hackncs.com" target="_blank"> Nibble Computer Society</a></h4>
      </div>
    </footer>
	</div>




<div class="search-container">

    <div class="cross">
        <i class="fa fa-times">
        </i>
    </div>
    <div class="login-overlay search-overlay"></div>

    <div class="login search-main">
        
            <div class="login-head search-head">
                <h3>Search for Uploaded Notices.</h3>
            </div>
            
        
        <div class="login-form search-form">
            <form action="{% url 'notice-search' %}" method="POST">
            {% csrf_token %}
                <input class="input-style" type="text" placeholder="Title" name="title">
                <input class="input-style" type="text" placeholder="Description" name="description">
                <input class="input-style" type="text" placeholder="Posted By" name="faculty">



                <div class="side-text">Posting Date Between </div>
                <div class="row">
                    <div id="desktop-date"> 
                        <div class="col sm-col-12">
                            <input type="text" id="daterangepicker" class="input-style input-calendar" placeholder="dd/mm/yyyy" name="date_desktop">
                        </div>
                    </div>
                    <div id="mobile-date">  
                        <div class="col sm-col-12">
                            <input type="text" id="mobile-datepicker-1" class="input-style input-calendar" placeholder="dd/mm/yyyy" name="date_m_start">
                        </div>
                        <div class="col sm-col-12">
                            <input type="text" id="mobile-datepicker-2" class="input-style input-calendar" placeholder="dd/mm/yyyy" name="date_m_end">
                        </div>
                    </div>
                </div>


                <div class="side-text">Posting for </div>
                <div class="row">
                
                <div class="col col-3">
                    
                    <select  placeholder="" name="course" class="input-style" id="create-course1">
                        
                        <option value="">All Courses</option>
                        <option value="BTech">BTech</option>
                        <option value="MTech">MTech</option>
                        <option value="MCA">MCA</option>
                        <option value="MBA">MBA</option>

                    </select>
                </div>
                <div class="col col-3">
                    
                    <select  placeholder="" name="branch" class="input-style" id="create-branch1">
                        <option value="">All Branches</option>
                        <option value="CSE">CSE</option>
                        <option value="IT">IT</option>
                        <option value="ECE">ECE</option>
                        <option value="EE">EE</option>
                        <option value="CE">CE</option>
                        <option value="IC">IC</option>
                        <option value="MT">MT</option>
                        <option value="ME">ME</ssoption>

                        
                    </select>
                </div>
                <div class="col col-3">
                    
                    <select  placeholder="" name="year" class="input-style" id="create-year1">
                        <option value="" selected>All Years</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>

                        
                    </select>
                </div>
                <div class="col col-3">
                    
                    <select  placeholder="" name="section" class="input-style" id="create-section1">
                        <option value="" selected>All Sections</option>
                        <option value="CSE1">CSE1</option>
                        <option value="CSE2">CSE2</option>
                        <option value="IT1">IT1</option>
                        <option value="IT2">IT2</option>
                        <option value="ECE1">ECE1</option>
                        <option value="ECE2">ECE2</option>
                        <option value="EE1">EE1</option>
                        <option value="EE2">EE2</option>
                        <option value="CE1">CE1</option>
                        <option value="CE2">CE2</option>
                        <option value="IC1">IC1</option>
                        <option value="IC2">IC2</option>
                        <option value="MT1">MT1</option>
                        <option value="MT2">MT2</option>
                        <option value="ME1">ME1</option>
                        <option value="ME2">ME2</option>
                        
                    </select>
                </div>


                <button type="reset" value="reset"  class="reset reset-search">Reset</button>
                <button type="submit" value="submit" class="right">Search</button>
                <div class="clear">
                </div>
                
            </form>
        </div>
    </div>
    
</div>



<!-- scripts============ -->
<script>
document.getElementById('num').addEventListener('input', function (e) {
 e.target.value = e.target.value.replace(/[^\dA-Z]/g, '');
});
document.getElementById('num2').addEventListener('input', function (e) {
 e.target.value = e.target.value.replace(/[^\dA-Z]/g, '');
});
</script>
<script src="{% static "js/jquery.js" %}"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="{% static "js/jquery.daterange.js" %}"></script>
<script src="{% static "js/main.js"  %}"></script>

        <script>
            var width = $(document).width();
            if(width>640)
            {
                $("#mobile-date").hide();
                $(function () {
                    $("#daterangepicker").daterange({
                       dateFormat: "dd/mm/yy", //date format
                    rangeSeparator: "-" // the string between first and last date
                    });
                });
            }
            else{
                $("#desktop-date").hide();
                $(function() {
                    $("#mobile-datepicker-1, #mobile-datepicker-2").datepicker();
                });
            }
            

            $(".search-container").on("scroll", function(){
            var cale = $(this).find("input.hasDatepicker");
            $("#ui-datepicker-div").css("top", cale.offset().top +cale.outerHeight());
 
        })

</script>
</body>
</html>
