<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Literacy a Education Category Flat Bootstrap responsive Website Template | About :: w3layouts</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Literacy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- for bootstrap working -->
	<script type="text/javascript" src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<script src="js/responsiveslides.min.js"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
      // Slideshow 1
      $("#slider1").responsiveSlides({
         auto: true,
		 nav: true,
		 speed: 500,
		 namespace: "callbacks",
      });
    });
  </script>
  <!-- web-fonts -->
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,400italic,600,300italic,300,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<!-- web-fonts -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
</head>
<body>
	<!-- header-section-starts-here -->
	<div class="header">
		<div class="container">
			<div class="header-top">
				<p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>Phone:+128-546-6853</p>
				<div class="logo">
					<h1><a href="index.html">Literacy</a></h1>
				</div>
				<div class="social-icons">
					<ul>
						<li><a class="facebook" href="#"></a></li>
						<li><a class="twitter" href="#"></a></li>
						<li><a class="google-plus" href="#"></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- navigation -->
			<div class="navigation">
					<nav class="navbar navbar-default">
					 
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							  <ul class="nav navbar-nav">
								<li><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
								<li class="active"><a href="about.html">ABOUT</a></li>
								<li><a href="typography.html">Short codes</a></li>
								<li><a href="gallery.html">classes</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="contact.html">Contact Us</a></li>
							  </ul>
						  <div class="clearfix"></div>
						</div><!-- /.navbar-collapse -->
					</nav>
			</div>
			<!-- //navigation -->
		</div>
	</div>
	<!-- header-section-ends-here -->
	<!-- content-section-starts-here -->
	<div class="content">
		<div class="about-section">
			<div class="about">
				<div class="container">
					<div class="about-top heading">
						<h2 class="heading text-center">ABOUT US</h2>
					</div>
					<div class="about-bottom text-center">
						<img src="images/abt.jpg" alt="" />
						<h4>Sed hendrerit dui eget lacus imperdiet lacinia. Sed eleifend, libero ac pellentesque ornare, velit velit tempor nisi, quis cursus dolor velit condimentum elit.</h4>
						<p>Duis semper sodales dictum. Praesent facilisis dui a viverra fringilla. Cras nisi felis, sollicitudin non bibendum iaculis, tincidunt id erat. Morbi tincidunt erat tellus, ut rhoncus sem malesuada et. Duis vitae auctor arcu. Aenean in tellus ac quam maximus dignissim. Vivamus dapibus eget mi ut consectetur. Donec risus nunc, pulvinar eu viverra vitae, placerat at nisi. Duis a mollis enim. Pellentesque sollicitudin dignissim ex, sit amet ornare dui fringilla eu.</p>
					</div>
				</div>
			</div>
		<div class="about-middle">
            <div class="container">
                    <div class="col-lg-4 col-md-6 col-sm-6 testimonials">
                        <h3>Why choose us?</h3>
                        <ul class="list3">
                            <li>
                                <strong>1</strong>
                                <div class="extra">
                                    <p>Cras sagittis tempus ante Curabitur pretium tortor non rhoncus eros orci, ac commodo per, et pret.</p>
                                </div>
                            </li>
                            <li>
                                <strong>2</strong>
                                <div class="extra">
                                    <p>Nam pulvinar tellus vel Morbi quam enim, elementum leo maximus, vitae fermentum nunc ultricies.</p>
                                </div>
                            </li>
                            <li>
                                <strong>3</strong>
                                <div class="extra">
                                    <p>Asety kertya asetli nerafae Proin malesuada porta diam ut ante accumsan, ultricies velit ut, mollis metus.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 testimonials">
                        <h3>Special offers</h3>
                        <h4>veriti vitaesaert asrtya aset aplica</h4>
                        <p>Quisque accumsan nulla et velit ullamcortionem ullam corporis suscipit laboriosam, nisi ut aliquid ex.</p>
                        <ul class="list1-2">
                            <li><a href="#">Proin dictum elementum velit</a></li>
                            <li><a href="#">Euismod conseqat ante</a></li>
                            <li><a href="#">Lorem ipsum dolor sit met con</a></li>
                            <li><a href="#">Adipiscing elitlentesque sed dolor</a></li>
                            <li><a href="#">Aliquam congue fermen tum nisl</a></li>
                            <li><a href="#">Mauris accumsan nulla</a></li>
                            <li><a href="#">Sed in lacus ut enim adipiscing</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 testimonials-box testimonials">
                        <h3>Testimonials</h3>
                        <ul class="list4">
                            <li>
                                <img src="images/quote.png" alt="">
                                <div class="extra">
                                    <p>Vestibulum porttitor placerat urna vitae condimentum. Proin consequat Morbi lacinia ipsum ac mi dictum, ac congue odio faucibus. Nam ut pellentesque neque. </p>
                                    <a href="#">Maria Brooks, usa</a>
                                </div>
                            </li>
                            <li>
                                <img src="images/quote.png" alt="">
                                <div class="extra">
                                    <p>Vestibulum porttitor placerat urna vitae condimentum. Proin consequat Morbi lacinia ipsum ac mi dictum, ac congue odio faucibus. Nam ut pellentesque neque. </p>
                                    <a href="#">Steven Donovan, usa</a>
                                </div>
                            </li>
                        </ul>
                    </div>
            </div>
    </div>
			<!-- Our-staff-starts -->
		<div class="our-staff about-staff">
			<div class="container">
				<div class="our-staff-head text-center">
					<header>
						<h3>Our Staff</h3>
						<p>Lorem Ipsum is simply dummy Business industry doloremque laudantium.</p>
					</header>
				<div class="our-staff-grids text-center">
					<div class="col-md-3 our-staff-grid">
						<div class="view view-seventh">
								<a href="#"><img class="img-responsive" src="images/s1.jpg" alt=""></a>
					                 <div class="mask">
				 						<ul class="staff-social-icons">
											<li><a href="#"><span class="facebook"> </span></a></li>
											<li><a href="#"><span class="twitter"> </span></a></li>
										</ul>
                   					 </div>
                   					 <h4>Doris Wilson</h4>
			                    <p>Sed ut perspiciatis unde omnis iste natus laudantium.</p>
                   		</div>
					</div>
					<div class="col-md-3 our-staff-grid">
						<div class="view view-seventh">
								<a href="#"><img class="img-responsive" src="images/s2.jpg" alt=""></a>
					                 <div class="mask">
				 						<ul class="staff-social-icons">
											<li><a href="#"><span class="facebook"> </span></a></li>
											<li><a href="#"><span class="twitter"> </span></a></li>
										</ul>
                   					 </div>
                   					 <h4>Amy Smith</h4>
			                    <p>Sed ut perspiciatis unde omnis iste natus error laudantium.</p>
                   		</div>
					</div>
					<div class="col-md-3 our-staff-grid">
						<div class="view view-seventh">
								<a href="#"><img class="img-responsive" src="images/s3.jpg" alt=""></a>
					                 <div class="mask">
				 						<ul class="staff-social-icons">
											<li><a href="#"><span class="facebook"> </span></a></li>
											<li><a href="#"><span class="twitter"> </span></a></li>
										</ul>
                   					 </div>
                   					 <h4>Edna Francis</h4>
			                    <p>Sed ut perspiciatis unde omnis accusantium laudantium.</p>
                   		</div>
					</div>
					<div class="col-md-3 our-staff-grid">
						<div class="view view-seventh">
								<a href="#"><img class="img-responsive" src="images/s4.jpg" alt=""></a>
					                 <div class="mask">
				 						<ul class="staff-social-icons">
											<li><a href="#"><span class="facebook"> </span></a></li>
											<li><a href="#"><span class="twitter"> </span></a></li>
										</ul>
                   					 </div>
                   					 <h4>Jennie Crigler</h4>
			                    <p>Sed ut sit voluptatem accusantium doloremque laudantium.</p>
                   		</div>
					</div>
					<div class="clearfix"></div>
				</div>
				</div>
			</div>
		</div>
		<!-- //Our-staff-ends -->
		</div>
	</div>
	<!-- //content-section-ends-here -->
	<!-- footer-section-starts-here -->
	<!-- footer-section -->
	<div class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="col-md-4 footer-grid">
					<h5>NewsLetter</h5>
					<p>Lorem ipsum dolor sit amet, tristique nec libero. Proin vitae convallis odio. Morbi nec enim nisi. Aliquam erat volutpat. </p>
					<form>					 
					  <input type="text" class="text" value="Enter Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}">
					 <input type="submit" value="Submit">
					 <div class="clearfix"></div>
				 </form>
				</div>
				<div class="col-md-4 footer-grid">
					<h5>Twitter Feed</h5>
					<p>Check out th best designs online in the world <br>at <a href="mail-to:mail@example.com">http://example.com </a></p>
					<span>1 day ago</span>
					<p><a href="#">Twitter</a>, may be the more visual platform for education group.</p>
					<span>4 day ago</span>
				</div>
				<div class="col-md-4 footer-grid">
					<h5>Follow Us</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in purus nibh. Donec ornare felis neque. Nullam tortor! </p>
					
			<div class="social-icons footer-social-icons">
				<a class="facebook" href="#"></a>
				<a class="twitter" href="#"></a>
				<a class="google-plus" href="#"></a>
			</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="copyrights text-center">
					<p>© 2015 Literacy. All Rights Reserved | Design by   <a href="http://w3layouts.com">  W3layouts</a></p>					
				</div>
				<div class="footer-nav">
					<ul>
						<li><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
						<li><a href="about.html">ABOUT</a></li>
						<li><a href="typography.html">Short codes</a></li>
						<li><a href="gallery.html">GALLERY</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contact.html">Contact Us</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //footer-section -->
	<!-- //footer-section-ends-here -->
	<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!---->
</body>
</html>