<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Literacy a Education Category Flat Bootstrap responsive Website Template | Home :: w3layouts</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Literacy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- for bootstrap working -->
	<script type="text/javascript" src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<script src="js/responsiveslides.min.js"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
      // Slideshow 1
      $("#slider1").responsiveSlides({
         auto: true,
		 nav: true,
		 speed: 500,
		 namespace: "callbacks",
      });
    });
  </script>
  <!-- web-fonts -->
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,400italic,600,300italic,300,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<!-- web-fonts -->
  <script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
</head>
<body>
	<!-- header-section-starts-here -->
	<div class="header" id="movetop">
		<div class="container">
			<div class="header-top">
				<p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>Phone:+128-546-6853</p>
				<div class="logo">
					<h1><a href="index.html">Literacy</a></h1>
				</div>
				<div class="social-icons">
					<ul>
						<li><a class="facebook" href="#"></a></li>
						<li><a class="twitter" href="#"></a></li>
						<li><a class="google-plus" href="#"></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- navigation -->
			<div class="navigation">
					<nav class="navbar navbar-default">
					 
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							  <ul class="nav navbar-nav">
								<li class="active"><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
								<li><a href="about.html">ABOUT</a></li>
								<li><a href="typography.html">Short codes</a></li>
								<li><a href="gallery.html">classes</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="contact.html">Contact Us</a></li>
							  </ul>
						  <div class="clearfix"></div>
						</div><!-- /.navbar-collapse -->
					</nav>
			</div>
			<!-- //navigation -->
		</div>
	</div>
	<!-- header-section-ends-here -->
	<div class="slider">
	    <ul class="rslides" id="slider1">
	      <li><img src="images/2.jpg" alt=""></li>
	      <li><img src="images/1.jpg" alt=""></li>
	    </ul>
    </div>
	<!-- content-section-starts-here -->
	<div class="content">
		<div class="welcome-top">
			<div class="container">
				<div class="col-md-6 welcome_top_left">
					<h3>WELCOME</h3>
					<h5>TO OUR EDUCATION GROUP</h5>
					<p>Lorem Ipsum is simply dummy printing industry. It has survived not. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently.</p>
				</div>
				<div class="col-md-6 welcome_top_right">
					<h3>WE'RE OPEN</h3>
					<h5>In Sed Ut perspiciatis Street</h5>
					<div class="welcome_right_location">
						<div class="location_img">
							<img src="images/loc.jpg" alt="" />
						</div>
						<div class="location">
							<p>Lorem Ipsum has been the industry's since the 1500s. It has survived centuries.</p>
							<p class="location_text"><span class="glyphicon glyphicon-map-marker"></span>795 Folsom Ave, Suite 600,San Francisco, CA 94107</p>
							<p class="location_text"><span class="glyphicon glyphicon-dashboard"></span>Mon to Sat 8:30am - 4:30pm,  Sunday - Holiday</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="welcome_bottom">
			<div class="container">
				<div class="welcome_head text-center">
					<h2>Welcome To Education Center</h2>
					<p>Neque porro quisquam est, qui dolorem ipsum quia dolor 
					sit amet, consectetur, exercitationem ullam corporis suscipit laboriosam.</p>
				</div>
				<div class="welcome-grids">
					<div class="col-md-6 welcome_bottom_left">
						<img src="images/wel.jpg" alt=""/>
					</div>
					<div class="col-md-6 welcome_bottom_right">
						<h3>Sed ut perspiciatis unde omnis iste</h3>
						<p> Quis autem vel eum iure reprehenderit qui 
						in ea voluptate velit esse quam nihil molestiae consequatur, nulla pariatur.
						sit amet, consectetur, adipisci velit, sed quia non numquam. </p>
						<p> Quis autem vel eum iure reprehenderit qui 
						vel illum qui dolorem eum fugiat quo voluptas est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- //welcome -->
		<!-- Our-staff-starts -->
		<div class="our-staff">
			<div class="container">
				<div class="our-staff-head text-center">
					<header>
						<h3>Our Staff</h3>
						<p>Lorem Ipsum is simply dummy Business industry doloremque laudantium.</p>
					</header>
				<div class="our-staff-grids text-center">
					<div class="col-md-3 our-staff-grid">
						<div class="view view-seventh">
								<a href="#"><img class="img-responsive" src="images/s1.jpg" alt=""></a>
					                 <div class="mask">
				 						<ul class="staff-social-icons">
											<li><a href="#"><span class="facebook"> </span></a></li>
											<li><a href="#"><span class="twitter"> </span></a></li>
										</ul>
                   					 </div>
                   					 <h4>Doris Wilson</h4>
			                    <p>Sed ut perspiciatis unde omnis iste natus laudantium.</p>
                   		</div>
					</div>
					<div class="col-md-3 our-staff-grid">
						<div class="view view-seventh">
								<a href="#"><img class="img-responsive" src="images/s2.jpg" alt=""></a>
					                 <div class="mask">
				 						<ul class="staff-social-icons">
											<li><a href="#"><span class="facebook"> </span></a></li>
											<li><a href="#"><span class="twitter"> </span></a></li>
										</ul>
                   					 </div>
                   					 <h4>Amy Smith</h4>
			                    <p>Sed ut perspiciatis unde omnis iste natus error laudantium.</p>
                   		</div>
					</div>
					<div class="col-md-3 our-staff-grid">
						<div class="view view-seventh">
								<a href="#"><img class="img-responsive" src="images/s3.jpg" alt=""></a>
					                 <div class="mask">
				 						<ul class="staff-social-icons">
											<li><a href="#"><span class="facebook"> </span></a></li>
											<li><a href="#"><span class="twitter"> </span></a></li>
										</ul>
                   					 </div>
                   					 <h4>Edna Francis</h4>
			                    <p>Sed ut perspiciatis unde omnis accusantium laudantium.</p>
                   		</div>
					</div>
					<div class="col-md-3 our-staff-grid">
						<div class="view view-seventh">
								<a href="#"><img class="img-responsive" src="images/s4.jpg" alt=""></a>
					                 <div class="mask">
				 						<ul class="staff-social-icons">
											<li><a href="#"><span class="facebook"> </span></a></li>
											<li><a href="#"><span class="twitter"> </span></a></li>
										</ul>
                   					 </div>
                   					 <h4>Jennie Crigler</h4>
			                    <p>Sed ut sit voluptatem accusantium doloremque laudantium.</p>
                   		</div>
					</div>
					<div class="clearfix"></div>
				</div>
				</div>
			</div>
		</div>
		<!-- //Our-staff-ends -->
		<!-- Services-starts -->
		<div class="service-section">
				<div class="container">
					<div class="service-section-head text-center">
						<header>
							<h3>Our Services</h3>
							<p>Lorem Ipsum is simply error sit voluptatem accusantium doloremque laudantium.</p>
						</header>
					</div>
					<div class="service-section-grids">
						<div class="col-md-4 service-grid">
							<div class="service-section-grid">
								<div class="icon">
									<span class="d1 glyphicon glyphicon-pencil"></span>
								</div>
								<div class="icon-text">
									<a href="single.html">Lorem Ipsum is simply</a>
									<p>Lorem Ipsum is simply. Lorem Ipsum has been an unknown printer.</p>
								</div>
							</div>
							<div class="service-section-grid">
								<div class="icon">
									<span class="d2 glyphicon glyphicon-ok-sign"></span>
								</div>
								<div class="icon-text">
									<a href="single.html">Sed ut perspiciatis unde</a>
									<p>Many desktop publishing packages and web  web sites still in their infancy</p>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="col-md-4 service-grid">
							<div class="service-section-grid">
								<div class="icon">
									<span class="d4 glyphicon glyphicon-folder-open"></span>									
								</div>
								<div class="icon-text">
									<a href="single.html">Contrary to popular belief</a>
									<p>Many desktop publishing packages 'lorem ipsum' web sites still in their infancy</p>
								</div>
							</div>
							<div class="service-section-grid">
								<div class="icon">
									<span class="d5 glyphicon glyphicon-globe"></span>
								</div>
								<div class="icon-text">
									<a href="single.html">At vero eos et accusamus</a>
									<p>There are many variations of passages look even slightly believable.</p>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="col-md-4 service-grid">
							<div class="service-section-grid">
								<div class="icon">
									<span class="d6 glyphicon glyphicon-sort-by-alphabet"></span>									
								</div>
								<div class="icon-text">
									<a href="single.html">soluta nobis est eligendi</a>
									<p>Many desktop publishing packages 'lorem ipsum' will uncover their infancy</p>
								</div>
							</div>
							<div class="service-section-grid">
								<div class="icon">
									<span class="d7 glyphicon glyphicon-sort-by-order"></span>
								</div>
								<div class="icon-text">
									<a href="single.html">On the other hand</a>
									<p>There are many variations of humouror randomised slightly believable.</p>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- //services -->
			<!-- News-section -->
			 <div class="news-section">
			 <div class="container">
				<div class="news-section-head text-center">
					<header>
						<h3>Latest News</h3>
						<p>Sed ut perspiciatis unde unde omnis iste natus error totam rem ipsa quae ab illo inventore veritatis</p>
					</header>
				</div>
				<div class="news-section-grids">
					<div class="col-md-4 news-section-grid">
						<div class="news-section-grid-left">
							<h3>03/</h3>
							<h3>15</h3>
						</div>
						<div class="news-section-grid-right">
							<a href="single.html">Claritas est etiam processus dynamicus, qui sequitu</a>
							<p>Lorem ipsum dolor sit amet, nonummy nibh euismod tincidunt ut laoreet dolore magna. </p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-4 news-section-grid">
						<div class="news-section-grid-left">
							 <h3>05/</h3>
							<h3>15</h3>
						</div>
						<div class="news-section-grid-right">
							<a href="single.html">Claritas est etiam processus dynamicus, qui sequitu</a>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam magna. </p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-4 news-section-grid">
						<div class="news-section-grid-left">
							<h3>08/</h3>
							<h3>15</h3>
						</div>
						<div class="news-section-grid-right">
							<a href="single.html">Claritas est etiam processus dynamicus, qui sequitu</a>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit ut laoreet dolore magna. </p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- //News-section -->
	<!-- //content-section-ends-here -->
	<!-- footer-section-starts-here -->
	<!-- footer-section -->
	<div class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="col-md-4 footer-grid">
					<h5>NewsLetter</h5>
					<p>Lorem ipsum dolor sit amet, tristique nec libero. Proin vitae convallis odio. Morbi nec enim nisi. Aliquam erat volutpat. </p>
					<form>					 
					  <input type="text" class="text" value="Enter Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}">
					 <input type="submit" value="Submit">
					 <div class="clearfix"></div>
				 </form>
				</div>
				<div class="col-md-4 footer-grid">
					<h5>Twitter Feed</h5>
					<p>Check out th best designs online in the world <br>at <a href="mail-to:mail@example.com">http://example.com </a></p>
					<span>1 day ago</span>
					<p><a href="#">Twitter</a>, may be the more visual platform for education group.</p>
					<span>4 day ago</span>
				</div>
				<div class="col-md-4 footer-grid">
					<h5>Follow Us</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in purus nibh. Donec ornare felis neque. Nullam tortor! </p>
					
			<div class="social-icons footer-social-icons">
				<a class="facebook" href="#"></a>
				<a class="twitter" href="#"></a>
				<a class="google-plus" href="#"></a>
			</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="copyrights text-center">
					<p>© 2015 Literacy. All Rights Reserved | Design by   <a href="http://w3layouts.com">  W3layouts</a></p>					
				</div>
				<div class="footer-nav">
					<ul>
						<li><a class="scroll" href="#movetop">Home <span class="sr-only">(current)</span></a></li>
						<li><a href="about.html">ABOUT</a></li>
						<li><a href="typography.html">Short codes</a></li>
						<li><a href="gallery.html">GALLERY</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contact.html">Contact Us</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //footer-section -->
	<!-- //footer-section-ends-here -->
	<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!----> 

</body>
</html>