{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>JSS Connect</title>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<script src="/static/js/jquery.min.js"></script>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Literacy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <script type="text/javascript" src="/static/js/bootstrap.js"></script>
<script src="/static/js/responsiveslides.min.js"></script>
<script>
  $(function () {
    $("#slider1").responsiveSlides({
     auto: true,
     nav: true,
     speed: 500,
     namespace: "callbacks",
    });
  });
  </script>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,400italic,600,300italic,300,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
<script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".scroll").click(function(event){   
          event.preventDefault();
          $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
        });
      });
</script>
</head>
<body>
  <div class="header" id="movetop">
    <div class="container">
      <div class="header-top">
        <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>Phone: +919555344456</p>
        <div class="logo">
          <h1><a href="index.html">JSS Connect</a></h1>
        </div>
        <div class="social-icons">
          <ul>
            <li><a class="facebook" href="#"></a></li>
            <li><a class="twitter" href="#"></a></li>
            <li><a class="google-plus" href="#"></a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- navigation -->
      <div class="navigation">
          <nav class="navbar navbar-default">
           
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="#">Upcoming</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Contributors</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'user-profile' user_id=user %}">View Profile</a></li> <br>
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}">Login</a></li>
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                {% endif %}
                </ul>
              <div class="clearfix"></div>
            </div><!-- /.navbar-collapse -->
          </nav>
      </div>
      <!-- //navigation -->
    </div>
  </div>
<br>
<br>
<br>
{% block content %}

{% endblock %}
</body>
</html>