{% load staticfiles %}
<html>

<head>
    <title>
        JSS Connect
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2d2251">

    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.ico"%}">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static "css/default.css"%}">
    <link rel="stylesheet" href="{% static "css/main.css"%}">

    <link rel="stylesheet" href="{% static "css/style.css"%}">
    <link rel="stylesheet" href="{% static "css/font-awesome.css"%}">

    
    
 
</head>

<body>

   <div class="loader-container">
    <div class="loader">
      <img src="{% static "images/connect.gif"%}">
    </div>
    
  </div>


    {% for message in messages %}    
        <div class="notice-msg" id="bookmark-notification">
            {{ message }}
        </div>
    {% endfor %}

    <div class="overlay-dark-mob">
        <div class="cross-mobile"><i class="fa fa-times"></i></div>
    </div>
    <div class="dot-menu-links">
        
        <ul>                
             <li>
                                <a href="{% url "home" %}">Home</a>
                            </li>
                            
                            <li>
                                <a href="{% url "about" %}">About</a>
                            </li>
                            <li>
                                <a href="{% url "contact" %}">Contact</a>
                            </li>
                            
                            <li>
                                <a href="http://jssaten.ac.in" target="_blank">JSS Website</a>
                            </li>
            
        </ul>
    </div>
    
        <div class="overlay-dark">
        <div class="cross-mobile"><i class="fa fa-times"></i></div>
    </div>

    <div class="left-nav">
        <div class="logo">
          <a href="{% url "home" %}">
            <img src="{% static "images/logo.PNG"%}">
        </a>
        </div>

        <div class="left-nav-inner">
            <ul>
                <li class=" move-in">
                    <a href="{% url "notice-list" %}">
                    <i class="fa fa-thumb-tack"></i> &nbsp;All Notices<!-- <span class="number active_number">5</span> --></a>
                </li>
                <li class=" move-in">
                    <a href="{% url "relevent-notice-list" %}">
                    <i class="fa fa-tags"></i> &nbsp;Relevant<!-- <span class="number active_number">5</span> --></a>
                </li>
                <li class=" move-in">
                    <a href="{% url "notice-list" %}?category=administration">
                    <i class="fa fa-university"></i> &nbsp;Administration<!-- <span class="number">6</span> --></a>
                </li>
                <li class=" move-in">
                    <a href="{% url "notice-list" %}?category=academics">
                    <i class="fa fa- fa-pencil-square-o"></i> &nbsp;Academics<!-- <span class="number">2</span> --></a>
                </li>
                <li class=" move-in">
                    <a href="{% url "notice-list" %}?category=events">
                    <i class="fa fa-calendar"></i> &nbsp;Events<!-- <span class="number">2</span> --></a></li>
                </a>
                    <li class=" move-in">
                        <a href="{% url "notice-list" %}?category=tnp">
                        <i class="fa fa-graduation-cap"></i> &nbsp;Placement<!-- <span class="number">1</span> --></a>
                    </li>
                 
                    <li class=" move-in">
                        <a href="{% url "notice-list" %}?category=misc">
                        <i class="fa fa-list-alt"></i> &nbsp;Misc.<!-- <span class="number">9+</span> --></a>
                    </li>
                       <li class="">
                        <a class="search2">
                        <i class="fa fa-filter"></i> &nbsp;Filter Notices<!-- <span class="number">1</span> --></a>
                    </li>
                    <li class="  move-in">
                        <a href="{% url "password_change" %}">
                        <i class="fa fa-wifi"></i> &nbsp;Wifi-Form</a>
                    </li>
                    <li class="active move-in">
                        <a href="{% url "bookmark-list" %}">
                        <i class="fa fa-star"></i> &nbsp;Starred</a>
                    </li>

                    <div class="line">
                    </div>

                    <li class="  move-in">
                        <a href="{% url "user-profile" user_id=request.user.username %}">
                        <i class="fa fa-user"></i> &nbsp;My profile</a>
                    </li>
                    {% if request.user.groups.all.0.name == 'faculty' or request.user.groups.all.0.name == 'hod' or request.user.groups.all.0.name == 'management'  %}
                    <li class="  move-in">
                        <a href="{% url "my-uploaded-notices" %}">
                        <i class="fa fa-user-secret"></i> &nbsp;My uploaded notices</a>
                    </li>
                    {% endif %}
                    <li class="  move-in">
                        <a href="{% url "password_change" %}">
                        <i class="fa fa-key"></i> &nbsp;Change Password</a>
                    </li>
                    <li>
                        <a href="{% url "account_logout" %}">
                        <i class="fa fa-inbox"></i> &nbsp;Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    <!-- details==== -->

    <div class="relevant-info">
        <div class="info-header">

            <h2>
                Starred
            </h2>

        </div>
        <div class="head-info">
            <h3>Title</h3>
            <div id="notice_title"></div>
        </div>
        <div class="content-info">
            <h3>Details</h3>
            <div id="notice_description"></div>
        </div>
        <div class="head-info download" id="notice_download_attachment">
            <a href="#" download><h3>Download Attachment</h3>&nbsp;
            <i class="fa fa-download"></i></a>
        </div>
        <div class="date-author-info" id="notice_posted_by"></div>
        <div class="cross white-cross">
            <i class="fa fa-times"></i>
        </div>

    </div>

    <!-- relevant==== -->
    <div class="relevant-page">
        <header>
            <div class="row">
                <div class="heading-small col sm-col-4">
                    <h3>Welcome <span>{{ request.user.first_name}}</span></h3>
                </div>
                <div class="head-links-resize col sm-col-8">
                    <div class="head-links">
                        <ul>
                            <li>
                                <a href="{% url "home" %}">Home</a>
                            </li>
                            
                            <li>
                                <a href="{% url "about" %}">About</a>
                            </li>
                            <li>
                                <a href="{% url "contact" %}">Contact</a>
                            </li>
                            
                            <li>
                                <a href="http://jssaten.ac.in" target="_blank">JSS Website</a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="mob-side-link">
                        <span class="dot-mob">
                        </span>
                        <span class="dot-mob">
                        </span>
                        <span class="dot-mob">
                        </span>
                    </div>

                </div>
            </div>
        </header>

        <div class="sub-header">
            <div class="row">
                <div class="heading col sm-col-6">

                    <h1><span class="mobile-menu"><i class="fa fa-bars"></i></span>Starred</h1>
                </div>
                <div class="col sm-col-6">

                    <div class="row">
                        <!-- <div class="quick-link  col-2 push-right">
                <i class="fa fa-ellipsis-v"></i>
                </div> -->
                        {% if request.user.groups.all.0.name == 'faculty' or request.user.groups.all.0.name == 'hod' or request.user.groups.all.0.name == 'management'  %} 
                        <div class="button-create  col-4 push-right">
                            <a href="{% url "notice-add" %}">Create New</a>
                        </div>
                        {% endif %}

                        <div class="search  col-6 push-right">
                            <input type="text" name="search" placeholder="search"><i class="fa fa-search"></i>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        <!-- relevant content==== -->

        <div class="relevant-content-head">
            <ul>
                <li class="desktop">
                    <div class="row">
                        <div class="imp col sm-col  sm-col-1">
                            Starred
                        </div>
                        <div class="col sm-col sm-col-10">
                        <div class="row"> 
                        <div class="col sm-col sm-col-2">
                            Posted By
                        </div>
                        <div class="col sm-col sm-col-8">
                            Post
                        </div>
                        <div class="col sm-col sm-col-2">
                            Date
                        </div>
                    </div>
                </div>
                    </div>
                </li>
                <li class="mobile">
                    <div class="row">

                    <div class="pagination col sm-col sm-col-12">
                    {% if notices.has_previous %}
                            <a href="?{{params.urlencode}}&amp;page={{ notices.previous_page_number }}">
                                <i class="fa fa-chevron-circle-left"></i>    
                            </a>
                    {% endif %}
                    
                    Page {{ notices.number }} of {{ notices.paginator.num_pages }}&nbsp;&nbsp;
                    
                    <!-- A good feature to be included later -->
                    
                    <!-- {% for page in notices.paginator.page_range  %}
                        {% if page == summaries.number %}
                            <a class="active" href="?{{params.urlencode}}&amp;page={{ page }}" style="color:red;" >{{ page }}</a>
                        {% else %}
                            <a href="?{{params.urlencode}}&amp;page={{ page }}" >{{ page }}</a>
                        {% endif %}
                    {% endfor %} -->
                    {% if notices.has_next %}
                        <a href="?{{params.urlencode}}&amp;page={{ notices.next_page_number }}">
                        <i class="fa fa-chevron-circle-right"></i>
                        </a>
                    {% endif %}
                </div>

                    <!-- <div class="pagination col sm-col sm-col-12">
                    Page {{ notices.number }} of {{ notices.paginator.num_pages }}&nbsp;&nbsp;
                    {% if notices.has_previous %}
                        <a href="?page={{ notices.previous_page_number }}">
                            <i class="fa fa-chevron-circle-left"></i>
                        </a>
                    {% endif %}
                    &nbsp;&nbsp;
                    {% if notices.has_next %}
                        <a href="?page={{ notices.next_page_number }}">
                            <i class="fa fa-chevron-circle-right"></i>
                        </a>
                    {% endif %}
                    </div> -->
                    </div>
                </li>
                <ul>
        </div>


        <div class=" relevant-content">
            <ul>
                {% for bookmark_notice in notices %}
                <li>
                    <div class="row" >
                        <form>
                            <div class="star imp col sm-col sm-col-1 active_star">
                                    <i class="fa fa-star " id="bookmark_{{ bookmark_notice.notice.id }}"></i>
                            </div>
                        </form>
                        <div class="sec col sm-col sm-col-10" id="{{ bookmark_notice.notice.id }}">
                            <div class="row">  
                                <div class="author col sm-col sm-col-2" id="notice_faculty_{{ bookmark_notice.notice.id }}">
                                    {{ bookmark_notice.notice.faculty.user.get_full_name }}
                                </div>
                                <div class="post_head col sm-col sm-col-8" >
                                <p id="notice_title_{{ bookmark_notice.notice.id }}">
                                    {{ bookmark_notice.notice.title }}
                                </p>
                                <br>
                                     <div class="row mobile sub-detail">
                                         <span class=" left col sm-col-8">Posted by  </span>
                                         <span class="date-mob  right col sm-col sm-col-4" id="notice_modified_{{ bookmark_notice.notice.id }}">{{ bookmark_notice.notice.modified }}</span>
                                    </div>
                                </div>
                                <div class="date col  sm-col sm-col-2" id="notice_modified_{{ bookmark_notice.notice.id }}">
                                    {{ bookmark_notice.notice.modified }}
                                </div>
                                <div id="notice_description_{{ bookmark_notice.notice.id }}" style="display:None;">{{ bookmark_notice.notice.description }}</div>
                                {% if notice.file_attached %}
                                <div id="notice_file_attached_{{ bookmark_notice.notice.id }}" style="display:None;">{{ bookmark_notice.notice.file_attached }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </li>
                {% empty %}
                <h3 class="empty-notice">No notices to display.</h3>
                {% endfor %}
                <ul>
        </div>

        <div class="pagination ">
            {% if notices.has_previous %}
                    <a href="?{{params.urlencode}}&amp;page={{ notices.previous_page_number }}">
                        <i class="fa fa-chevron-circle-left"></i>    
                    </a>
            {% endif %}
            
            Page {{ notices.number }} of {{ notices.paginator.num_pages }}&nbsp;&nbsp;
            
            <!-- A good feature to be included later -->
            
            <!-- {% for page in notices.paginator.page_range  %}
                {% if page == summaries.number %}
                    <a class="active" href="?{{params.urlencode}}&amp;page={{ page }}" style="color:red;" >{{ page }}</a>
                {% else %}
                    <a href="?{{params.urlencode}}&amp;page={{ page }}" >{{ page }}</a>
                {% endif %}
            {% endfor %} -->
            {% if notices.has_next %}
                <a href="?{{params.urlencode}}&amp;page={{ notices.next_page_number }}">
                <i class="fa fa-chevron-circle-right"></i>
                </a>
            {% endif %}
        </div>

        <!-- <div class="pagination">
            Page {{ notices.number }} of {{ notices.paginator.num_pages }}&nbsp;&nbsp;
            {% if notices.has_previous %}
                <a href="?page={{ notices.previous_page_number }}">
                    <i class="fa fa-chevron-circle-left"></i>
                </a>
            {% endif %}
            &nbsp;&nbsp;
            {% if notices.has_next %}
                <a href="?page={{ notices.next_page_number }}">
                    <i class="fa fa-chevron-circle-right"></i>
                </a>
            {% endif %}
        </div> -->
        <footer>
      <h4>Quick Links</h4>
      <div class="footer-line"></div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>View Result</h4>
          </div>
          <div class="col col-3">
            <h4>My Inbox</h4>
          </div>
          <div class="col col-3">
            <h4>Register</h4>
          </div>
          <div class="col col-3">
            <h4>Forum</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>JSS Library</h4>
          </div>
          <div class="col col-3">
            <h4><a href="http://jssaten.ac.in/" target="_blank">JSS Website</a></h4>
          </div>
          <div class="col col-3">
            <h4>JSS STEP</h4>
          </div>
          <div class="col col-3">
            <h4><a href="http://aktu.ac.in/" target="_blank">UPTU Website</a></h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>Old Question Paper</h4>
          </div>
          <div class="col col-3">
            <h4>JSS Mailbox</h4>
          </div>
          <div class="col col-3">
            <h4><a href="http://hackncs.com/" target="_blank">Nibble Website</a></h4>
          </div>
          <div class="col col-3">
            <h4>Other Societies</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>Computer Science & Engineering</h4>
          </div>
          <div class="col col-3">
            <h4>Electrical Engineering</h4>
          </div>
          <div class="col col-3">
            <h4>Electronics & Communication Engineering</h4>
          </div>
          <div class="col col-3">
            <h4>Mechanical Engineering</h4>
          </div>
        </div>
      </div>
      <div class="sub-footer ">
        <h4><a href="http://www.hackncs.com" target="_blank"> Nibble Computer Society</a></h4>
      </div>
    </footer>
    </div>



<div class="search-container">

    <div class="cross">
        <i class="fa fa-times">
        </i>
    </div>
    <div class="login-overlay search-overlay"></div>

    <div class="login search-main">
        
            <div class="login-head search-head">
                <h3>Search for Uploaded Notices.</h3>
            </div>
            
        
        <div class="login-form search-form">
            <form>
                <input class="input-style" type="text" placeholder="Subject" >
                <input class="input-style" type="text" placeholder="Message" >
                <input class="input-style" type="text" placeholder="Posted By" >



                <div class="side-text">Posting Date Between </div>
                <div class="row">
                    <div id="desktop-date"> 
                        <div class="col sm-col-12">
                            <input type="text" id="daterangepicker" class="input-style input-calendar" placeholder="dd/mm/yyyy">
                        </div>
                    </div>
                    <div id="mobile-date">  
                        <div class="col sm-col-12">
                            <input type="text" id="mobile-datepicker-1" class="input-style input-calendar" placeholder="dd/mm/yyyy">
                        </div>
                        <div class="col sm-col-12">
                            <input type="text" id="mobile-datepicker-2" class="input-style input-calendar" placeholder="dd/mm/yyyy">
                        </div>
                    </div>
                </div>


                <div class="side-text">Posting for </div>
                <div class="row">
                    <div class="col col-4">
                <select class="input-style select-style" id="batch-id"  >
                <option value="" disabled selected hiddened>Batch</option>
                </select></div>
                

                <div class="col col-4">
                <select class="input-style select-style" id="branch-id"  >
                <option value="" disabled selected hiddened>Branch</option>
                <option>BTECH CSE</option>
                <option>BTECH ME</option>
                <option>BTECH ECE</option>
                <option>BTECH EEE</option>
                <option>BTECH ME</option>
                <option>BTECH CE</option>
                
                </select>
            </div>
            


                <div class="col col-4">
                <select class="input-style select-style" id="section"  >
                <option value="" disabled selected hiddened>Section</option>

                
                </select>
            </div>


                <button type="reset" value="reset"  class="reset reset-search">Reset</button>
                <button type="submit" value="submit" class="right">Search</button>
                <div class="clear">
                </div>
                
            </form>
        </div>
    </div>
    
</div>


<div class="form-hid">
    <input type="hidden" value="{{notices|length}}">
    </div>




    <script src="{% static "js/jquery.js"%}"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{% static "js/jquery.daterange.js"%}"></script>
    <script src="{% static "js/main.js"%}"></script>

        <script>
            var width = $(document).width();
            if(width>640)
            {
                $("#mobile-date").hide();
                $(function () {
                    $("#daterangepicker").daterange({
                       dateFormat: "dd/mm/yy", //date format
                    rangeSeparator: "-" // the string between first and last date
                    });
                });
            }
            else{
                $("#desktop-date").hide();
                $(function() {
                    $("#mobile-datepicker-1, #mobile-datepicker-2").datepicker();
                });
            }
            

            $(".search-container").on("scroll", function(){
            var cale = $(this).find("input.hasDatepicker");
            $("#ui-datepicker-div").css("top", cale.offset().top +cale.outerHeight());
 
        })

var d = new Date();
var y = d.getFullYear();
var n = 2000;

(function selectOne() {
    
      var batch = document.getElementById('batch-id');
     for (var i=y; i>=n; i--) {
        batch.options[batch.options.length] = new Option(i, i);
     }
   })();
</script>
<script type="text/javascript">
    function addBookmark(notice_id)
{
    $.ajax({
        url : "/notices/"+ notice_id +"/bookmark/",
        type : "POST",
        data: {
            csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success : function(json)
        {
            console.log(json);
        },
        error : function()
        {
            alert("An error occured.");
        }
    });
}

function removeBookmark(notice_id)
{
    $.ajax({
        url : "/notices/"+notice_id+"/bookmark/delete/",
        type : "POST",
        data: {
            csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success : function(json)
        {
            location.reload();
        },
        error : function(json)
        {
            alert("An error occured.");
        }
    });
}
</script>
</body>

</html>
