{% include "base.html" %}
{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Bookmark</th>
      </tr>
    </thead>
    <tbody>
    {% for bookmark in bookmarks %}
    {% if bookmark.pinned %}
        <tr>
            <td><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
            <td>{{ bookmark.notice.title }}</td>
            <td><button type="button" class="btn btn-primary" onclick="Unmark({{bookmark.notice.id}});">Unmark</button></td>
        </tr>
    {% else %}
        <tr>
            <td><a href="#" onclick="PinItem({{bookmark.id}})"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></td>
            <td>{{ bookmark.notice.title }}</td>
            <td><button type="button" class="btn btn-primary" onclick="Unmark({{bookmark.notice.id}});">Unmark</button></td>
        </tr>
    {% endif %}
    {% endfor %}
    </tbody>
  </table>

<div class="pagination">
    <span class="step-links">
        {% if bookmarks.has_previous %}
            <a href="?page={{ bookmarks.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ bookmarks.number }} of {{ bookmarks.paginator.num_pages }}.
        </span>

        {% if bookmarks.has_next %}
            <a href="?page={{ bookmarks.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}

<script type="text/javascript">

function Unmark(notice_id)
{
    $.ajax({
        url : "/notices/"+notice_id+"/bookmark/delete/",
        type : "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success : function(json)
        {
            location.reload();
        },
        error : function(json)
        {
            alert("error");
        }
    });
}


function PinItem(bookmark_id)
{
    $.ajax({
        url : "/notices/bookmark/"+ bookmark_id + "/pinned/",
        type : "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success : function(json)
        {
            alert(json);
            location.reload();
        },
        error : function(json)
        {
            alert("error");
        }
    });
}

</script>
