{% load staticfiles %}

<html>

<head>
	<title>
		JSS Connect
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#2d2251">

	<link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.ico"%}">
	<link rel="stylesheet" href="{% static "css/default.css" %}">
	<link rel="stylesheet" href="{% static "css/main.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<link rel="stylesheet" href="{% static "css/font-awesome.css" %}">

</head>

<body>
	

	<div class="loader-container">
		<div class="loader">
			<img src="{% static "images/connect.gif"%}">
		</div>
		
	</div>
	<div class="overlay-dark">
		<div class="cross-mobile"><i class="fa fa-times"></i></div>
	</div>

	<div class="left-nav left-index-bg">
		<div class="index-overlay">
		</div>
		<div class="logo logo-index">
			
			<img src="{% static "images/jss-logo.png"%}">
			<h3> JSS Academy Of Technical Education</h3>
		</div>

		<div class="left-nav-inner left-nav-inner-index">
			<ul>
				<li class="">
					<a href="http://jssaten.ac.in" target="_blank">
						<i class="fa fa-globe"></i> &nbsp;JSS Website
					</a>
				</li>
			</ul>
		</div>

	</div>

	<div class="relevant-page index-page">

		<div class="index-head">
			<div class="index-logo">

				<a href="{% url "home" %}">
					<img src="{% static "images/logo-dark.png"%}">
				</a>
			</div>
			<h3 class="tag-line">Be updated anywhere and anytime!</h3>

		</div>
		<div class="about-container contact-container adjust">
			<h3 class="main-heading">All the users have been created.</h3>
			<div class="extra-links">

			</div>
			<center>
				<button type="submit" class="submit-contact" id="return-adminpanel"><a href="{% url 'bulk_students_create' %}">Create More Users  </a>
				</button>
				<button type="submit" class="submit-contact" id="return-adminpanel"><a href="/admin/auth/user/"> See the created users  </a>
				</button>
				<button type="submit" class="submit-contact" id="return-adminpanel"><a href="{%url 'admin:index' %}"> Return to Admin Panel  </a>
				</button>
			</center>

		</div>

		<footer>
			<h4>Quick Links</h4>
			<div class="footer-line"></div>
			<div class="row">
				<div class="footer-links">
					<div class="col col-3">
						<h4>View Result</h4>
					</div>
					<div class="col col-3">
						<h4>My Inbox</h4>
					</div>
					<div class="col col-3">
						<h4>Register</h4>
					</div>
					<div class="col col-3">
						<h4>Forum</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="footer-links">
					<div class="col col-3">
						<h4>JSS Library</h4>
					</div>
					<div class="col col-3">
						<h4><a href="http://jssaten.ac.in/" target="_blank">JSS Website</a></h4>
					</div>
					<div class="col col-3">
						<h4>JSS STEP</h4>
					</div>
					<div class="col col-3">
						<h4><a href="http://aktu.ac.in/" target="_blank">UPTU Website</a></h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="footer-links">
					<div class="col col-3">
						<h4>Old Question Paper</h4>
					</div>
					<div class="col col-3">
						<h4>JSS Mailbox</h4>
					</div>
					<div class="col col-3">
						<h4><a href="http://hackncs.com/" target="_blank">Nibble Website</h4>
					</div>
					<div class="col col-3">
						<h4>Other Societies</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="footer-links">
					<div class="col col-3">
						<h4>Computer Science & Engineering</h4>
					</div>
					<div class="col col-3">
						<h4>Electrical Engineering</h4>
					</div>
					<div class="col col-3">
						<h4>Electronics & Communication Engineering</h4>
					</div>
					<div class="col col-3">
						<h4>Mechanical Engineering</h4>
					</div>
				</div>
			</div>
			<div class="sub-footer ">
				<h4><a href="http://www.hackncs.com" target="_blank"> Nibble Computer Society</a></h4>
			</div>
		</footer>
	</div>
</body>

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/main.js"  %}"></script>
</html>
