{% load staticfiles %}

<html>

<head>
    <title>
        JSS Connect
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#2d2251">

  <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.ico"%}">
    <link rel="stylesheet" href="{% static "css/default.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.css" %}">

</head>

<body>


<div class="loader-container">
    <div class="loader">
      <img src="{% static "images/connect.gif"%}">
    </div>
    
  </div>
    <div class="overlay-dark">
        <div class="cross-mobile"><i class="fa fa-times"></i></div>
    </div>

 <div class="left-nav left-index-bg">
    <div class="index-overlay">
    </div>
    <div class="logo logo-index">
    
      <img src="{% static "images/jss-logo.png"%}">
        <h3> JSS Academy Of Technical Education</h3>
    </div>

    <div class="left-nav-inner left-nav-inner-index">
      <ul>
        <li class="index-list">
          <a href="{% url "home" %}"><i class="fa fa-home"></i> &nbsp;Home</a>
        </li>
        <li class="index-list">
          <a href="{% url "notice-list" %}"><i class="fa fa-thumb-tack"></i> &nbsp;All notices</a>
        </li>
        <!-- <li>
          <a class="search2"><i class="fa fa-search"></i> &nbsp;Search</a>
        </li> -->
        <li class=" index-list"><a href="{% url "about" %}" >
          <i class="fa fa-newspaper-o"></i> &nbsp;About</a>
        </li>
          <li class="index-list">
            <a href="{% url "contact" %}">
            <i class="fa fa-phone"></i> &nbsp;Contact</a>
          </li>
          <li class="">
            <a href="http://jssaten.ac.in" target="_blank">
            <i class="fa fa-globe"></i> &nbsp;JSS Website</a>
          </li>
          

          <div class="line">
          </div>
          {% if request.user.is_authenticated %}
          <li class="index-list">
            <a href="{% url "user-profile" user_id=request.user.username %}">
            <i class="fa fa-user"></i> &nbsp;My profile</a>
          </li>
          {% if request.user.groups.all.0.name == 'faculty' or request.user.groups.all.0.name == 'hod' or request.user.groups.all.0.name == 'management'  %}
          <li class="index-list">
            <a href="{% url "my-uploaded-notices" %}">
            <i class="fa fa-cloud-upload"></i> &nbsp;My uploaded notices</a>
          </li>
            {% endif %}
           <li class="index-list move-in">
                        <a href="{% url "password_change" %}">
                        <i class="fa fa-key"></i> &nbsp;Change Password</a>
                    </li>
          <li class="index-list">
            <a href="{% url "account_logout" %}">
            <i class="fa fa-inbox"></i> &nbsp;Logout</a>
          </li>
          {% else %}
          <li class="index-list">
            <a href="{% url "account_login" %}">
            <i class="fa fa-sign-out"></i> &nbsp;LogIn</a>
          </li>
          {% endif %}
          


      </ul>
    </div>

  </div>


<!-- right-page container============ -->
    <div class="relevant-page index-page">
    
        <div class="index-head">
        <div class="index-logo">

     <a href="{% url "home" %}">
      <img src="{% static "images/logo-dark.png"%}"></a>
        </div>
        <h3 class="tag-line">Be updated anywhere and anytime!</h3>

        <h3 class="index-welcome"><span class="index-bars"><i class="fa fa-bars"></i></span>Create Multiple Users</h3>
        </div>
      </div>
        
        <div class="about-container contact-container">
            
            <form name="{% url 'bulk_students_create' %}" method="POST" id="main_form" onsubmit="return ValidateBranch()">
                {% csrf_token %}
                <input type="text" name="admission_format" class="input-style" placeholder="Admission Format: For eg. 16CSE" pattern="^[0-9]{2}[A-Za-z]{2,3}$" required>
                {% if error %}
                <div>
                    <p> The start value cannot be greater than end value </p>
                </div>
                {% endif %}
                <input type="text" name="start" class="input-style" placeholder="Starting Admission Number: For eg. 1" required>

                <input type="text" name="end" class="input-style" placeholder="Last Admission Number: For eg. 120" required>

                <select id="course" name="course" placeholder="Course" class="input-style">
                    <option value="BTECH"> BTech </option>
                    <option value="MBA"> MBA </option>
                    <option value="MCA">MCA </option>
                    <option value="MAM">MAM</option>
                    <option value="MTECH">MTech</option>
                </select>
                <select id="branch" name="branch" placeholder="Branch" class="input-style">
                    <option value="None"> None </option>
                    <option value="CSE">CSE </option>
                    <option value="IT">IT</option>
                    <option value="EE">EE </option>
                    <option value="ECE">ECE </option>
                    <option value="CE">CE</option>
                    <option value="IC">IC </option>
                    <option value="ME">ME </option>
                    <option value="MT">MT </option>
                </select>
                <select id="group" name="group" placeholder="Group" class="input-style">
                    <option value="student"> Student </option>
                </select>
                <input type="text" class="input-style" name="year" placeholder="Year: 1 to 4" pattern="[1-4]" required>
                <button type="reset" class="reset-contact">Reset
                </button>
                <button type="submit" class="submit-contact" id="submit-contact_id"> Submit
                </button>
                <button type="button" class="submit-contact" id="submit-contact_id"><a href="/admin">Back </a>
                </button>
                </div>
            </form>
            <div class="contact-msg-send">

            
            </div>          

        </div>

         <footer>
      <h4>Quick Links</h4>
      <div class="footer-line"></div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>View Result</h4>
          </div>
          <div class="col col-3">
            <h4>My Inbox</h4>
          </div>
          <div class="col col-3">
            <h4>Register</h4>
          </div>
          <div class="col col-3">
            <h4>Forum</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>JSS Library</h4>
          </div>
          <div class="col col-3">
            <h4><a href="http://jssaten.ac.in/" target="_blank">JSS Website</a></h4>
          </div>
          <div class="col col-3">
            <h4>JSS STEP</h4>
          </div>
          <div class="col col-3">
            <h4><a href="http://aktu.ac.in/" target="_blank">UPTU Website</a></h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>Old Question Paper</h4>
          </div>
          <div class="col col-3">
            <h4>JSS Mailbox</h4>
          </div>
          <div class="col col-3">
            <h4><a href="http://hackncs.com/" target="_blank">Nibble Website</h4>
          </div>
          <div class="col col-3">
            <h4>Other Societies</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>Computer Science & Engineering</h4>
          </div>
          <div class="col col-3">
            <h4>Electrical Engineering</h4>
          </div>
          <div class="col col-3">
            <h4>Electronics & Communication Engineering</h4>
          </div>
          <div class="col col-3">
            <h4>Mechanical Engineering</h4>
          </div>
        </div>
      </div>
      <div class="sub-footer ">
        <h4><a href="http://hackncs.com" target="_blank"> Nibble Computer Society</a></h4>
      </div>
    </footer>
    </div>


<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/main.js"  %}"></script>

</body>

</html>
