{% load staticfiles %}
<html>
<head>
  <title>
    JSS InfoConnect
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#2d2251">


  <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.ico"%}">
<!--   <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'> -->
  <link rel="stylesheet" href="{% static "css/default.css"%}">
  <link rel="stylesheet" href="{% static "css/main.css"%}">
  <link rel="stylesheet" href="{% static  "css/style.css"%}">

  <link rel="stylesheet" href="{% static "css/font-awesome.css"%}">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53104159-5', 'auto');
  ga('send', 'pageview');

  </script>
</head>
<body>
{% for message in messages %}    
        <div class="notice-msg">
            {{ message }}
        </div>
{% endfor %}

<div class="loader-container">
    <div class="loader">
      <img src="{% static "images/connect.gif"%}">
     
      



    </div>
    
  </div>




  <div class="relevant-info">
        <div class="info-header">

            <h2>
                Relevant
            </h2>

        </div>
        <div class="head-info">
            <h3>Title</h3>
            <div id="notice_title"></div>
        </div>
        <div class="content-info">
            <h3>Details</h3>
            <div id="notice_description"></div>
        </div>
        <div class="head-info download" id="notice_download_attachment">
            <a href="#" id="download_attachment" download><h3>Download Attachment</h3>&nbsp;
            <i class="fa fa-download"></i></a>
        </div>
        <div class="date-author-info" id="notice_posted_by"></div>
        <div class="cross white-cross">
            <i class="fa fa-times"></i>
        </div>

    </div>



  <div class="overlay-dark">
    <div class="cross-mobile"><i class="fa fa-times"></i></div>
  </div>
  <div class="left-nav left-index-bg">
    <div class="index-overlay">
    </div>
    <div class="logo logo-index">
    
      <img src="{% static "images/jss-logo.png"%}">
        <h3> JSS Academy Of Technical Education</h3>
    </div>

    <div class="left-nav-inner left-nav-inner-index">
      <ul>
        <li class="active index-list">
          <a href="{% url "home" %}"><i class="fa fa-home"></i> &nbsp;Home</a>
        </li>
        <li class="index-list">
          <a href="{% url "notice-list" %}"><i class="fa fa-thumb-tack"></i> &nbsp;All notices</a>
        </li>
        <!-- <li>
          <a class="search2"><i class="fa fa-search"></i> &nbsp;Search</a>
        </li> -->
        <li class=" index-list"><a href="{% url "about" %}" >
          <i class="fa fa-newspaper-o"></i> &nbsp;About</a>
        </li>
          <li class=" index-list">
            <a href="{% url "contact" %}">
            <i class="fa fa-phone"></i> &nbsp;Contact</a>
          </li>
          <li class="">
            <a href="http://jssaten.ac.in" target="_blank">
            <i class="fa fa-globe"></i> &nbsp;JSS Website</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="index-list">
            <a href="{% url "user-profile" user_id=request.user.username %}">
            <i class="fa fa-user"></i> &nbsp;My profile</a>
          </li>
         {% if request.user.groups.all.0.name == 'faculty' or request.user.groups.all.0.name == 'hod' or request.user.groups.all.0.name == 'management'  %}
          <li class="index-list">
            <a href="{% url "my-uploaded-notices" %}">
            <i class="fa fa-cloud-upload"></i> &nbsp;My uploaded notices</a>
          </li>
         {% endif %}
           <li class="index-list move-in">
                        <a href="{% url "password_change" %}">
                        <i class="fa fa-key"></i> &nbsp;Change Password</a>
                    </li>
          <li class="index-list">
            <a href="{% url "account_logout" %}">
            <i class="fa fa-inbox"></i> &nbsp;Logout</a>
          </li>
          {% else %}
          <li class="index-list">
            <a href="{% url "account_login" %}">
            <i class="fa fa-sign-out"></i> &nbsp;LogIn</a>
          </li>
          {% endif %}
          <div class="line"></div>
          <li class=" index-list">
            <a href="{% url "home" %}">
            <i class=""></i> &nbsp; MOOCs</a>
          </li>
          <li class=" index-list">
            <a href="http://nptel.ac.in">
            <i class="fa fa-external-link"></i> &nbsp; NPTEL </a>
          </li>
          <li class=" index-list">
            <a href="http://www.sakshat.ac.in">
            <i class="fa fa-external-link"></i> &nbsp; SAKSHAT </a>
          </li>

      </ul>
    </div>

  </div>

    

<!-- right-page container============ -->
  <div class="relevant-page index-page">
  
    <div class="index-head">
    <div class="index-logo">
        <a href="{% url "home" %}">
      <img src="{% static "images/logo-dark.png"%}"></a>
    </div>

    <h3 class="tag-line">Stay updated, anywhere anytime!</h3>



    {% if request.user.is_authenticated %}
    <h3 class="index-welcome"><span class="index-bars"><i class="fa fa-bars"></i></span><a href="{% url "user-profile" user_id=request.user.username %}">Welcome {{ request.user.first_name }} {{ request.user.last_name }}</a></h3>
    {% else %}
    <h3 class="index-welcome"><span class="index-bars"><i class="fa fa-bars"></i></span><a href="#">Welcome User</a></h3>
    {% endif %}

    </div>
    
    <div class="new-notices-container">
      <h2><i class="fa fa-thumb-tack"></i> &nbsp;New Notices</h2>

      <div class="new-notices-list">
        <ul>
        

        {% for notice in notices %}

          <li class="pad-list modal-index" id="{{ notice.id }}" >
            <a>
            <div class="col col-7" id="notice_title_{{ notice.id }}">
              {{ notice.title }}
            </div>
            <div class="date-index col col-5">
              <div class="row">
                <div class="auth-index col sm-col-6" id="notice_faculty_{{ notice.id }}">
                  <i class="fa fa-user"></i> &nbsp;{{ notice.faculty.get_full_name }}
                </div>
                <div class="date-index col sm-col-6" id="notice_modified_{{ notice.id }}">
                  <i class="fa fa-calendar"></i> &nbsp;{{ notice.modified }}
                </div>

                {% if request.user.is_authenticated %}
                <input type="hidden" id="login_status" value="1">
                <div id="notice_description_{{ notice.id }}" style="display:None;">{{ notice.description }}
                </div>
                {% if notice.file_attached %}
                <input id="notice_file_attached_{{ notice.id }}" type="hidden" value="/media/{{ notice.file_attached }}">
                {% endif %}
                {% else %}
                <input type="hidden" id="login_status" value="0">
                {% endif %}
                
              </div>
            </div>
          </a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>

    <div class="new-notices-container new-college-container">
      <h2><i class="fa fa-university"> &nbsp;</i>New in College</h2>

      <div class="new-notices-list">
        <ul>
        {% for trend in trending %}
          <li class="pad-list">
            <a href="/media/{{ trend.attachment }}" target="_blank">
            <div class="bold-light  col col-9">
            {{ trend.title }} - <span class="index-author">{{ trend.small_description}}</span>
            </div>
            <div class="date-index col col-3">
                <div class="row">
                
                <div class="date-index col sm-col-12">
              <i class="fa fa-calendar"></i> &nbsp;{{ trend.modified }}
            </div>
            </div>
            </div>
          </a>
          </li>
          {% endfor %}
        </ul>
        
      </div>

    </div>

    <footer>
      <h4>Quick Links</h4>
      <div class="footer-line"></div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4><a href="#">View Result</a></h4>
          </div>
          <div class="col col-3">
            <h4>My Inbox</h4>
          </div>
          <div class="col col-3">
            <h4>Register</h4>
          </div>
          <div class="col col-3">
            <h4>Forum</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>JSS Library</h4>
          </div>
          <div class="col col-3">
            <h4><a href="http://jssaten.ac.in/" target="_blank">JSS Website</a></h4>
          </div>
          <div class="col col-3">
            <h4>JSS STEP</h4>
          </div>
          <div class="col col-3">
            <h4><a href="http://aktu.ac.in/" target="_blank">UPTU Website</a></h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>Old Question Paper</h4>
          </div>
          <div class="col col-3">
            <h4>JSS Mailbox</h4>
          </div>
          <div class="col col-3">
            <h4><a href="http://hackncs.com/" target="_blank">Nibble Website</a></h4>
          </div>
          <div class="col col-3">
            <h4>Other Societies</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>Computer Science & Engineering</h4>
          </div>
          <div class="col col-3">
            <h4>Electrical Engineering</h4>
          </div>
          <div class="col col-3">
            <h4>Electronics & Communication Engineering</h4>
          </div>
          <div class="col col-3">
            <h4>Mechanical Engineering</h4>
          </div>
        </div>
      </div>
      <div class="sub-footer ">
        <h4><a href="http://www.hackncs.com" target="_blank" > Nibble Computer Society</a></h4>
      </div>
    </footer>
  </div>


<div class="form-hid" >
    <input type="hidden" value="{{notices|length}}">
</div>

<script src="{% static "js/jquery.js"%}"></script>


<script src="{% static "js/main.js"%}"></script>


</body>

</html>
