

.login-container{
	display: block;
	position: fixed;
	z-index: 0;
	width: 100vw;
	height: 104vh;
	background: url(../images/ab-1.JPG);
	background-size: cover;
}

.login{
	display: inline-block;
	position: absolute;
	vertical-align: middle;
	width: 400px;
	height: auto;
	background: #fff;
	box-shadow: 0px 0px 10px #9d9d9d;
	margin-right: auto;
	margin-left: auto;
	left: 0px;
	right: 0px;
	margin-top: 100px;
	margin-bottom: 70px;
	border-radius: 2px;
	overflow: hidden;
	transition:all 0.2s ease-in-out;
}

.login-img{
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;
	text-align: center;

}
.login-img img{
	width: 100%;
	margin-top: -40px;
}
.login-head{
	color: #fff;
	position: absolute;
	margin-top: 60px;
	padding: 0px 20px ;
	font-family: 'Roboto Light';
	margin-right: auto;
	margin-left: auto;
	left: 0px;
	right: 0px;
	display: inline;
}
.login-head h3 span{
	font-family: 'Roboto Bold';
	font-size: 1.1em;
}
.login-form{
	padding: 30px 40px;
	font-family: 'Roboto'

}
.search-form{
	padding:0px 40px 30px 40px;
}
.login-head h3 {
	font-size: 1em;
}
.input-style{
	width: 100%;
	border: 0px;
	border-bottom: 1px solid #848484;
	background: transparent;
	margin-bottom: 20px;
	padding: 10px 5px;
	font-family: 'Roboto';
	transition:all 0.4s ease-in-out;

}
 .input-style:focus{
	
	border-bottom: 1px solid #e6c115;
	

}
.login-form form button{
		/*float: right;*/
	display: inline-block;
	padding: 12px 20px;
	background: #403469;
	/*color: #4d4d4d;*/
	/*border: 2px solid #9d9d9d;*/
	box-shadow: none;
	border: 0px;
	outline: none;
	border-radius: 30px;
	font-family: 'Roboto';
	cursor: pointer;
	color: #fff;
	transition:all 0.2s ease-in-out;

}
.login-form form button:hover{
	background: #180f36;
	/*border: 2px solid #9d9d9d;*/
	

}
.login-form form .reset{
	float: right;
	background: transparent;
	color: #4d4d4d;
	padding: 10px 18px;
	border: 2px solid #9d9d9d;
	box-sizing:border-box;
	margin-right: 20px;
	/*float: right;*/
}
.login-form form .reset:hover{
	color: #fff;
	border: 2px solid #180f36;
}
.login-form form .reset-search{
	float: left;
}

.right{
	float: right;

}
.left{
	float: left;
}
.login-form form .reset-search{
	float: left;
}
.login-overlay{
	position: absolute;
	z-index: -1;
	background: rgba(255,255,255,0.8);
	width: 100vw;
	height: 100vh;
	overflow-y:scroll;
	overflow-x:hidden;
}
.search-overlay{
	background: transparent;
}
.cross{
	position: fixed;
	border: 2px solid #9d9d9d;
	width: 40px;
	height: 40px;
	right: 30px;
	z-index: 5;
	border-radius: 50%;
	top: 10px;
	padding: 11px;
	text-align: center;
	transition:all 0.2s ease;
	cursor: pointer;
	background-color: transparent;
}
.cross:hover{
	border: 2px solid #4d4d4d;
	
}
.cross i{
	color: #4d4d4d;
}
.clear{
	clear: both;
}
.check{
	margin-top: 10px;
	display: inline-block;
}
input[type="checkbox"]{
	
	vertical-align: middle;
	width: 15px;
	height: 15px;
}
.remember{
	color: #4d4d4d;
	/*margin-top: -10px;*/
	font-size: 0.9em;
}

/*search page===========================*/




.search-container{
	top: 0px;
	display: block;
	position: absolute;
	z-index: 100;
	background: rgba(255,255,255,0.9);
	width: 100vw;
	height: 104vh;
	overflow-y:scroll;
	overflow-x:hidden;
	position: fixed;
}
.search-head{
	position: relative;
	


}
.search-head h3{
	color: #4d4d4d;
	padding: 30px 40px 0px 40px;
	font-family: 'Roboto'
}
.search-main{
	width: 500px;
}
.search-container form .select-style {
/*width: 120px;*/
padding: 10px 0px;
/*margin-left: 18px;*/
font-family: 'Roboto';
color: #9d9d9d;

}

.side-text{
	color: #4d4d4d;
	/*font-size: 0.8em;*/
	margin: 10px 0px;
}
.login-form h5{
	margin-bottom: 10px;
}

.white-overlay{
	display: block;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(64, 52, 105,0.9);
}
.login-header{
	position: fixed;
	z-index: 1;
	padding: 20px 40px;

}
.login-logo{
	height: 60px;
	/*margin-bottom: 15px;*/

}
.login-logo img{
	height: 100%;
	width: auto;
	margin-top: 0px;
}
.login-form h4{
	margin-top: 20px;
	color: #4d4d4d;
	font-family: 'Roboto Medium'
}
.login-form h4 a{
	transition:all 0.2s ease-in-out;
}
.login-form h4 a:hover{
	color:#E6C115 ;
	}


@media(max-width: 780px){
	.login-form{
	padding: 30px 20px;

}

}
	@media(max-width: 460px){
		.login{
			width: 95%;
		}
		.check{
			display: block;
			margin-bottom: 15px;
		}
		.login-form form .reset{
			float: left;
		}
	}
