{% load i18n %}
{% load account %}
{% load staticfiles %}

<html>

<head>
	<title>
		Login
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#2d2251">

	<link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.ico"%}">
	<link rel="stylesheet" href="{% static "css/default.css" %}">
	<link rel="stylesheet" href="{% static "css/main.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<link rel="stylesheet" href="{% static "css/font-awesome.css" %}">
</head>

<body>

	
<div class="loader-container">
    <div class="loader">
      <img src="{% static "images/connect.gif"%}">
    </div>
    
  </div>

	<div class="login-container">

	<div class="login-overlay">
	
	<div class="login">
		<div class="login-img">
			<div class="login-head">
				<div class="login-logo"><a href="/">
				<img src="{% static "images/logo.PNG" %}"></a>
			</div>
				<h3>Type in your username and password<br> to access personalized services.</h3>
			</div>
			<img src="{% static "images/ab-1.JPG" %}">
		</div>
		<div class="login-form">
			<form  method="POST" action="{% url 'account_login' %}">
			{% csrf_token %}
				<input class="input-style" type="text" placeholder="Username eg 12CSE015" name="login" required>
				<input class="input-style" type="password" placeholder="Password" name="password" required>

				<span class="check">
				<input type="checkbox" name="remember" class=""><label class="remember">Remember me</label>
			</span>
				<button type="submit" value="submit" class="right">Submit</button>
				<button type="reset" value="reset"  class="reset">Reset</button>

				<br>
				{% for error in form.non_field_errors %}
				<div id="warn-msg-login">
					<i class="fa fa-warning"></i> {{error}}
				</div>
				{% endfor %}

				<div class="clear">
				</div>
				
			</form>
			<h4><a href="/"><i class="fa fa-chevron-left"></i> &nbsp;Back to home</a> <a href="/contact" class="right">Trouble in Loging In?</a></h4>
		</div>
 <div class="modal-content">

          Hello User! If you are a student then please Login with
          password same as of your username and change your password afterwards.
        </div>


	</div>

	
	</div>


</div>


<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>

</body>
</html>
