{% load staticfiles %}
<html>

<head>
	<title>
		JSS Connect
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#2d2251">
	<link rel="stylesheet" href="{% static "css/default.css" %}">
	<link rel="stylesheet" href="{% static "css/main.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<link rel="stylesheet" href="{% static "css/font-awesome.css" %}">

</head>

<body>


	
	  <div class="loader-container">
    <div class="loader">
      <img src="{% static "images/connect.gif"%}">
    </div>
    
  </div>

	<div class="overlay-dark">
		<div class="cross-mobile"><i class="fa fa-times"></i></div>
	</div>


	 <div class="left-nav left-index-bg">
    <div class="index-overlay">
    </div>
    <div class="logo logo-index">
    
      <img src="{% static "images/jss-logo.png"%}">
        <h3> JSS Academy Of Technical Educatiom</h3>
    </div>

    <div class="left-nav-inner left-nav-inner-index">
      <ul>
        <li class=" index-list">
          <a href="{% url "home" %}"><i class="fa fa-home"></i> &nbsp;Home</a>
        </li>
        <li class="index-list">
          <a href="{% url "notice-list" %}"><i class="fa fa-thumb-tack"></i> &nbsp;All notices</a>
        </li>
        <!-- <li>
          <a class="search2"><i class="fa fa-search"></i> &nbsp;Search</a>
        </li> -->
        <li class=" index-list"><a href="{% url "about" %}" >
          <i class="fa fa-newspaper-o"></i> &nbsp;About</a>
        </li>
          <li class=" index-list">
            <a href="{% url "contact" %}">
            <i class="fa fa-phone"></i> &nbsp;Contact</a>
          </li>
          <li class="">
            <a href="http://jssaten.ac.in" target="_blank">
            <i class="fa fa-globe"></i> &nbsp;JSS Website</a>
          </li>
          
          

          <div class="line">
          </div>
          {% if request.user.is_authenticated %}
          <li class="index-list">
            <a href="{% url "user-profile" user_id=request.user.username %}">
            <i class="fa fa-user"></i> &nbsp;My profile</a>
          </li>
         {% ifequal request.user.groups.all.0.name 'FacultyGroup'  %}
          <li class="index-list">
            <a href="{% url "my-uploaded-notices" %}">
            <i class="fa fa-cloud-upload"></i> &nbsp;My uploaded notices</a>
          </li>
             {% endifequal %}
           <li class="active index-list move-in">
                        <a href="{% url "password_change" %}">
                        <i class="fa fa-key"></i> &nbsp;Change Password</a>
                    </li>
          <li class="index-list">
            <a href="{% url "account_logout" %}">
            <i class="fa fa-inbox"></i> &nbsp;Logout</a>
          </li>
          {% else %}
          <li class="index-list">
            <a href="{% url "account_login" %}">
            <i class="fa fa-sign-out"></i> &nbsp;LogIn</a>
          </li>
          {% endif %}
          


      </ul>
    </div>

  </div>

		

<!-- right-page container============ -->
	<div class="relevant-page index-page">
	
		<div class="index-head">
		<div class="index-logo">
			<a href="{% url "home" %}">
			<img src="{% static "images/logo-dark.png" %}">
		</a>
		</div>
		<h3 class="tag-line">Be updated anywhere and anytime!</h3>
		<h3 class="index-welcome"><span class="index-bars"><i class="fa fa-bars"></i></span>Change Password</h3>
		</div>
		
		<div class="about-container contact-container change-password">
			
			<form method="POST" action="/accounts/password/change/" class="password_change">
			{% csrf_token %}
				
				<input type="password" class="input-style" placeholder="Old password" name="oldpassword" required>
				<he>
				<input type="password" class="input-style" placeholder="New password" name="password1" required>
				<input type="password" class="input-style" placeholder="Confirm password" name="password2" required>
				<button type="reset" class="reset-contact">Reset
				</button>
				<button type="submit" class="submit-contact">Submit
				</button> 
				<div class="clear">
				</div>
			</form>
			{% if form.errors %}
    		{% for field in form %}
        		{% for error in field.errors %}
				<div class="change-warning">
					<i class="fa fa-warning"></i> &nbsp;{{ error|escape }}
				</div>
        		{% endfor %}
    		{% endfor %}
    		{% for error in form.non_field_errors %}
		        <div class="change-warning">
					<i class="fa fa-warning"></i> &nbsp;{{ error|escape }}
				</div>
    		{% endfor %}
			{% endif %}

		</div>
		<div class="clear"></div>

		 <footer>
      <h4>Quick Links</h4>
      <div class="footer-line"></div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>View Result</h4>
          </div>
          <div class="col col-3">
            <h4>My Inbox</h4>
          </div>
          <div class="col col-3">
            <h4>Register</h4>
          </div>
          <div class="col col-3">
            <h4>Forum</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>JSS Library</h4>
          </div>
          <div class="col col-3">
            <h4>JSS Website</h4>
          </div>
          <div class="col col-3">
            <h4>JSS STEP</h4>
          </div>
          <div class="col col-3">
            <h4>UPTU Website</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>Old Question Paper</h4>
          </div>
          <div class="col col-3">
            <h4>JSS Mailbox</h4>
          </div>
          <div class="col col-3">
            <h4>Nibble Website</h4>
          </div>
          <div class="col col-3">
            <h4>Other Societies</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>Computer Science & Engineering</h4>
          </div>
          <div class="col col-3">
            <h4>Electrical Engineering</h4>
          </div>
          <div class="col col-3">
            <h4>Electronics & Communication Engineering</h4>
          </div>
          <div class="col col-3">
            <h4>Mechanical Engineering</h4>
          </div>
        </div>
      </div>
      <div class="sub-footer ">
        <h4><a href="http://www.hackncs.com" target="_blank"> Nibble Computer Society</a></h4>
      </div>
    </footer>
	</div>


	<div class="search-container">

	<div class="cross">
		<i class="fa fa-times">
		</i>
	</div>
	<div class="login-overlay search-overlay"></div>

	<div class="login search-main">
		
			<div class="login-head search-head">
				<h3>Search for Uploaded Notices.</h3>
			</div>
			
		
		<div class="login-form search-form">
			<form>
				<input class="input-style" type="text" placeholder="Subject" required>
				<input class="input-style" type="text" placeholder="Message" required>
				<input class="input-style" type="text" placeholder="Posted By" required>



				<div class="side-text">Posting Date Between </div>
				<div class="row">
					<div id="desktop-date">	
						<div class="col sm-col-12">
							<input type="text" id="daterangepicker" class="input-style input-calendar" placeholder="dd/mm/yyyy">
						</div>
					</div>
					<div id="mobile-date">	
						<div class="col sm-col-12">
							<input type="text" id="mobile-datepicker-1" class="input-style input-calendar" placeholder="dd/mm/yyyy">
						</div>
						<div class="col sm-col-12">
							<input type="text" id="mobile-datepicker-2" class="input-style input-calendar" placeholder="dd/mm/yyyy">
						</div>
					</div>
				</div>


				<div class="side-text">Posting for </div>
				<div class="row">
					<div class="col col-4">
				<select class="input-style select-style" id="batch-id" required >
				<option value="" disabled selected hiddened>Batch</option>
				</select></div>
				

				<div class="col col-4">
				<select class="input-style select-style" id="branch-id" required >
				<option value="" disabled selected hiddened>Branch</option>
				<option>BTECH CSE</option>
				<option>BTECH ME</option>
				<option>BTECH ECE</option>
				<option>BTECH EEE</option>
				<option>BTECH ME</option>
				<option>BTECH CE</option>
				
				</select>
			</div>
			


				<div class="col col-4">
				<select class="input-style select-style" id="section" required >
				<option value="" disabled selected hiddened>Section</option>

				
				</select>
			</div>


				<button type="reset" value="reset"  class="reset reset-search">Reset</button>
				<button type="submit" value="submit" class="right">Search</button>
				<div class="clear">
				</div>
				
			</form>
		</div>
	</div>
	
</div>



<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/main.js"  %}"></script>



</body>

</html>
