{% include "base.html" %}

{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Faculty</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
    {% for notice in notices %}
    {# Each "notice" is a NoticeDetail model object. #}
      <tr>
        <td><button type="button" class="btn btn-primary" onclick="Bookmarked({{notice.id}});">Bookmark</button></td>
        <td>{{ notice.title|upper }}</td>
        <td>{{ notice.faculty }}</td>
        <td><a href="{{ notice.get_absolute_url }}">Link to Notice</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

<div class="pagination">
    <span class="step-links">
        {% if notices.has_previous %}
            <a href="?page={{ notices.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ notices.number }} of {{ notices.paginator.num_pages }}.
        </span>

        {% if notices.has_next %}
            <a href="?page={{ notices.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}

<script type="text/javascript">

function Bookmarked(notice_id)
{
    $.ajax({
        url : "/"+notice_id+"/add_bookmark/",
        type : "POST",
        success : function(json)
        {
            
            alert(json);
        },
        error : function(json)
        {
            alert("error");
        }
    });
}

</script>
