{% load staticfiles %}

<html>

<head>
	<title>
		JSS Connect
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#2d2251">

  <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.ico"%}">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="{% static "css/default.css" %}">
	<link rel="stylesheet" href="{% static "css/main.css" %}">

	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<link rel="stylesheet" href="{% static "css/font-awesome.css" %}">
</head>

<body>

	 <div class="loader-container">
    <div class="loader">
      <img src="{% static "images/connect.gif"%}">
    </div>
    
  </div>



	<div class="overlay-dark-mob">
		<div class="cross-mobile"><i class="fa fa-times"></i></div>
	</div>
	<div class="dot-menu-links">
		
		<ul>				
			<li>
	            <a href="{% url "home" %}">Home</a>
	        </li>
	        
	        <li>
	            <a href="{% url "about" %}">About</a>
	        </li>
	        <li>
	            <a href="{% url "contact" %}">Contact</a>
	        </li>
	        
	        <li>
	            <a href="http://jssaten.ac.in" target="_blank">JSS Website</a>
	        </li>
                  
			
		</ul>
	</div>
	
		<div class="overlay-dark">
		<div class="cross-mobile"><i class="fa fa-times"></i></div>
	</div>

	<div class="left-nav">
        <div class="logo">
        	<a href="{% url "home" %}">
            <img src="{% static "images/logo.PNG"%}">
        </a>
        </div>

        <div class="left-nav-inner">
            <ul>
                <li class=" move-in">
                    <a href="{% url "notice-list" %}">
                    <i class="fa fa-thumb-tack"></i> &nbsp;All Notices<!-- <span class="number active_number">5</span> --></a>
                </li>
                <li class=" move-in">
                    <a href="{% url "relevent-notice-list" %}">
                    <i class="fa fa-tags"></i> &nbsp;Relevant<!-- <span class="number active_number">5</span> --></a>
                </li>
                <li class=" move-in">
                    <a href="{% url "notice-list" %}?category=administration">
                    <i class="fa fa-university"></i> &nbsp;Administration<!-- <span class="number">6</span> --></a>
                </li>
                <li class=" move-in">
                    <a href="{% url "notice-list" %}?category=academics">
                    <i class="fa fa- fa-pencil-square-o"></i> &nbsp;Academics<!-- <span class="number">2</span> --></a>
                </li>
                <li class=" move-in">
                    <a href="{% url "notice-list" %}?category=events">
                    <i class="fa fa-calendar"></i> &nbsp;Events<!-- <span class="number">2</span> --></a></li>
                </a>
                    <li class=" move-in">
                        <a href="{% url "notice-list" %}?category=tnp">
                        <i class="fa fa-graduation-cap"></i> &nbsp;Placement<!-- <span class="number">1</span> --></a>
                    </li>
                 
                    <li class=" move-in">
                        <a href="{% url "notice-list" %}?category=misc">
                        <i class="fa fa-list-alt"></i> &nbsp;Misc.<!-- <span class="number">9+</span> --></a>
                    </li>
                       <li class="">
                        <a class="search2">
                        <i class="fa fa-filter"></i> &nbsp;Filter Notices<!-- <span class="number">1</span> --></a>
                    </li>
                    {% if request.user.groups.all.0.name == 'faculty' or request.user.groups.all.0.name == 'hod' or request.user.groups.all.0.name == 'management' %}
                    <li class="  move-in">
                        <a href="{% url "faculty-wifi" %}">
                        <i class="fa fa-wifi"></i> &nbsp;Wifi-Form</a>
                    </li>
                    {% else %}
                    <li class="  move-in">
                        <a href="{% url "student-wifi" %}">
                        <i class="fa fa-wifi"></i> &nbsp;Wifi-Form</a>
                    </li>
                    {% endif %}
                    <li class=" move-in">
                        <a href="{% url "bookmark-list" %}">
                        <i class="fa fa-star"></i> &nbsp;Starred</a>
                    </li>

                    <div class="line">
                    </div>

                    <li class="  move-in">
                        <a href="{% url "user-profile" user_id=request.user.username %}">
                        <i class="fa fa-user"></i> &nbsp;My profile</a>
                    </li>
                    {% if request.user.groups.all.0.name == 'faculty' or request.user.groups.all.0.name == 'hod' or request.user.groups.all.0.name == 'management'  %}
                    <li class="  move-in">
                        <a href="{% url "my-uploaded-notices" %}">
                        <i class="fa fa-user-secret"></i> &nbsp;My uploaded notices</a>
                    </li>
                    {% endif %}
                    <li class="  move-in">
                        <a href="{% url "password_change" %}">
                        <i class="fa fa-key"></i> &nbsp;Change Password</a>
                    </li>
                    <li>
                        <a href="{% url "account_logout" %}">
                        <i class="fa fa-inbox"></i> &nbsp;Logout</a>
                    </li>
                </ul>
            </div>
        </div>


<div class="relevant-page">
		<header class="create-header">
			<div class="row">
				<div class="heading-small col sm-col-4">
					<h3 class="profile-head create-head"><span class="mobile-menu"><i class="fa fa-bars"></i></span>Create Notice</h3>
				</div>
				<div class="head-links-resize col sm-col-8">
					<div class="head-links">
						<ul>
							<li>
	            <a href="{% url "home" %}">Home</a>
	        </li>
	        
	        <li>
	            <a href="{% url "about" %}">About</a>
	        </li>
	        <li>
	            <a href="{% url "contact" %}">Contact</a>
	        </li>
	        
	        <li>
	            <a href="http://jssaten.ac.in" target="_blank">JSS Website</a>
	        </li>
                  
							
						</ul>

					</div>
					<br>
					
					

						
						<div class="mob-side-link">
						<span class="dot-mob">
						</span>
						<span class="dot-mob">
						</span>
						<span class="dot-mob">
						</span>
					</div>

				</div>
			</div>
		</header>


		<div class="create-container">
			<form id="create-notice-form" method="POST" action="." enctype="multipart/form-data">
			{% csrf_token %}
			<div class=" row">
				<div class="col col-12">
					<h2>Title</h2>
					<input type="text" placeholder="Title" value="{{ notice.title }}" class="input-style" name="title" required>
				</div>
			</div>
			<div class=" row">
				<div class="ck col col-12">
					<h2>Description</h2>

					<!-- put CK editor here=================== -->
					<textarea cols="0" id="id_description" name="description"  data-processed="0" data-config='{"filebrowserWindowWidth": 940, "toolbar_Basic": [["Source", "-", "Bold", "Italic"]], "language": "en-us", "toolbar_Full": [["Styles", "Format", "Bold", "Italic", "Underline", "Strike", "SpellChecker", "Undo", "Redo"], ["Link", "Unlink", "Anchor"], ["Image", "Flash", "Table", "HorizontalRule"], ["TextColor", "BGColor"], ["Smiley", "SpecialChar"], ["Source"]], "height": 291, "width": 835, "skin": "moono", "filebrowserWindowHeight": 725, "toolbar": "Full"}' data-external-plugin-resources='[]' data-id="id_description" data-type="ckeditortype">{{ notice.description }} </textarea>
					
				</div>
			</div>
			<div class=" row">
				
			<!-- 	<div class="col col-4">
					<h2>Subject</h2>
					<input type="text" placeholder="Subject" class="input-style" name="subject" value="{{ notice.subject }}" required>
				</div> -->
				<div class="col col-6">
					<h2>Category</h2>
					<select  placeholder="" class="input-style"  name="category" required>
						<option value="academics" {%ifequal notice.category 'academics' %}selected="selected"{% endifequal %}>Academics</option>
						<option value="administration" {%ifequal notice.category 'administration' %}selected="selected"{% endifequal %}>Administration</option>
						<option value="tnp" {%ifequal notice.category 'tnp' %}selected="selected"{% endifequal %}>Training and Placement</option>
						<option value="events" {%ifequal notice.category 'events' %}selected="selected"{% endifequal %}>Events</option>
						<option value="misc" {%ifequal notice.category 'misc' %}selected="selected"{% endifequal %}>Miscelleneous</option>
					</select>
				</div>
				<div class="col col-6">
					<h2>File Attached</h2>
					<input type="file" placeholder="" class="input-style input-upload" name="file_attached" value="{{ notice.file_attached}}">
				</div>
			</div>

<div class="row">
  <div class="col col-12">
          <h2>Upload for</h2><br>

          <div class="col col-3">
          <input type="checkbox" id="entire" name="uploaded_for" value="entire_college" {% if notice.visible_for_student %}checked{% endif %}>Entire College
        </div>

          <div  class="col col-2">
          <input id="hod" name="uploaded_for" value="hod" type="checkbox" {% if notice.visible_for_hod %}checked{% endif %}>HOD 
        </div>

            <div  class="col col-2">
          <input id="fac" name="uploaded_for" value="faculty" type="checkbox" {% if notice.visible_for_faculty %}checked{% endif %}>Faculty
        </div>

            <div  class="col col-3">
          <input id="manage" name="uploaded_for" value="management" type="checkbox" {% if notice.visible_for_management %}checked{% endif %}>Management
        </div>

         <div  class="col col-2">
          <input id="others" name="uploaded_for" value="others" type="checkbox" {% if notice.visible_for_others %}checked{% endif %}>Others
        </div>
        </div>
      </div>
      <br>


<!-- add initial data here======================== -->

			<div class=" hidedata row">
				
				<div class="col col-3">
					<h2>Course</h2>
					<select  placeholder="" class="input-style" id="create-course" required>
						<option>All Courses</option>
						<option>BTech</option>
						<option>MTech</option>
						<option>MCA</option>
						<option>MBA</option>
					</select>
				</div>
				<div class="col col-3">
					<h2>Branch</h2>
					<select  placeholder="" class="input-style" id="create-branch" required>
						<option>All Branches</option>
						<option>CSE</option>
						<option>IT</option>
						<option>ECE</option>
						<option>EE</option>
						<option>CE</option>
						<option>IC</option>
						<option>MT</option>
						<option>ME</ssoption>
					</select>
				</div>
				<div class="col col-3">
					<h2>Year</h2>
					<select  placeholder="" class="input-style" id="create-year" required>
						<option selected>All Years</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
				</div>
				<div class="col col-3">
					<h2>Section</h2>
					<select  placeholder="" class="input-style" id="create-section" required>
						<option selected>All Sections</option>
						<option>CSE1</option>
						<option>CSE2</option>
						<option>IT1</option>
						<option>IT2</option>
						<option>ECE1</option>
						<option>ECE2</option>
						<option>EE1</option>
						<option>EE2</option>
						<option>CE1</option>
						<option>CE2</option>
						<option>IC1</option>
						<option>IC2</option>
						<option>MT1</option>
						<option>MT2</option>
						<option>ME1</option>
						<option>ME2</option>						
					</select>
				</div>
				
			</div>
				<div class=" row">
				
				<div class="tag col col-12">
					<h2>
					<span class="add">
						<i class="fa fa-plus"></i>
				</span>Click to add Course, Branch, Year, Section.</h2>
				
					<!-- <input type="text" value="" class="input-style" disabled id="tag-input-val"> -->
					<ul id="tag-input">
					

					</ul>
					

				</div>
			
		</div>
		<button type="submit" id="create-submit" class="create-notice-button" >
			Create 
		</button>&nbsp;&nbsp;<span class="create-warn-msg">Please select atleast one Course, Branch, Year and Section 
					</span>
          {{ form.errors }}
	</form>

	</div>



	<!-- footer==================== -->



	 <footer>
      <h4>Quick Links</h4>
      <div class="footer-line"></div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>View Result</h4>
          </div>
          <div class="col col-3">
            <h4>My Inbox</h4>
          </div>
          <div class="col col-3">
            <h4>Register</h4>
          </div>
          <div class="col col-3">
            <h4>Forum</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>JSS Library</h4>
          </div>
          <div class="col col-3">
            <h4><a href="http://jssaten.ac.in/" target="_blank">JSS Website</a></h4>
          </div>
          <div class="col col-3">
            <h4>JSS STEP</h4>
          </div>
          <div class="col col-3">
            <h4><a href="http://aktu.ac.in/" target="_blank">UPTU Website</a></h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>Old Question Paper</h4>
          </div>
          <div class="col col-3">
            <h4>JSS Mailbox</h4>
          </div>
          <div class="col col-3">
            <h4><a href="http://hackncs.com/" target="_blank">Nibble Website</a></h4>
          </div>
          <div class="col col-3">
            <h4>Other Societies</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-links">
          <div class="col col-3">
            <h4>Computer Science & Engineering</h4>
          </div>
          <div class="col col-3">
            <h4>Electrical Engineering</h4>
          </div>
          <div class="col col-3">
            <h4>Electronics & Communication Engineering</h4>
          </div>
          <div class="col col-3">
            <h4>Mechanical Engineering</h4>
          </div>
        </div>
      </div>
      <div class="sub-footer ">
        <h4><a href="http://www.hackncs.com" target="_blank"> Nibble Computer Society</a></h4>
      </div>
    </footer>


</div>


<div class="search-container">

    <div class="cross">
        <i class="fa fa-times">
        </i>
    </div>
    <div class="login-overlay search-overlay"></div>

    <div class="login search-main">
        
            <div class="login-head search-head">
                <h3>Search for Uploaded Notices.</h3>
            </div>
            
        
        <div class="login-form search-form">
            <form action="{% url 'notice-search' %}" method="POST">
            {% csrf_token %}
                <input class="input-style" type="text" placeholder="Title" name="title">
                <input class="input-style" type="text" placeholder="Description" name="description">
                <input class="input-style" type="text" placeholder="Posted By" name="faculty">



                <div class="side-text">Posting Date Between </div>
                <div class="row">
                    <div id="desktop-date"> 
                        <div class="col sm-col-12">
                            <input type="text" id="daterangepicker" class="input-style input-calendar" placeholder="dd/mm/yyyy" name="date_desktop">
                        </div>
                    </div>
                    <div id="mobile-date">  
                        <div class="col sm-col-12">
                            <input type="text" id="mobile-datepicker-1" class="input-style input-calendar" placeholder="dd/mm/yyyy" name="date_m_start">
                        </div>
                        <div class="col sm-col-12">
                            <input type="text" id="mobile-datepicker-2" class="input-style input-calendar" placeholder="dd/mm/yyyy" name="date_m_end">
                        </div>
                    </div>
                </div>


                <div class="side-text">Posting for </div>
                <div class="row">
                
                <div class="col col-3">
                    
                    <select  placeholder="" name="course" class="input-style" id="create-course1">
                        
                        <option value="">All Courses</option>
                        <option value="BTech">BTech</option>
                        <option value="MTech">MTech</option>
                        <option value="MCA">MCA</option>
                        <option value="MBA">MBA</option>

                    </select>
                </div>
                <div class="col col-3">
                    
                    <select  placeholder="" name="branch" class="input-style" id="create-branch1">
                        <option value="">All Branches</option>
                        <option value="CSE">CSE</option>
                        <option value="IT">IT</option>
                        <option value="ECE">ECE</option>
                        <option value="EE">EE</option>
                        <option value="CE">CE</option>
                        <option value="IC">IC</option>
                        <option value="MT">MT</option>
                        <option value="ME">ME</ssoption>

                        
                    </select>
                </div>
                <div class="col col-3">
                    
                    <select  placeholder="" name="year" class="input-style" id="create-year1">
                        <option value="" selected>All Years</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>

                        
                    </select>
                </div>
                <div class="col col-3">
                    
                    <select  placeholder="" name="section" class="input-style" id="create-section1">
                        <option value="" selected>All Sections</option>
                        <option value="CSE1">CSE1</option>
                        <option value="CSE2">CSE2</option>
                        <option value="IT1">IT1</option>
                        <option value="IT2">IT2</option>
                        <option value="ECE1">ECE1</option>
                        <option value="ECE2">ECE2</option>
                        <option value="EE1">EE1</option>
                        <option value="EE2">EE2</option>
                        <option value="CE1">CE1</option>
                        <option value="CE2">CE2</option>
                        <option value="IC1">IC1</option>
                        <option value="IC2">IC2</option>
                        <option value="MT1">MT1</option>
                        <option value="MT2">MT2</option>
                        <option value="ME1">ME1</option>
                        <option value="ME2">ME2</option>
                        
                    </select>
                </div>


                <button type="reset" value="reset"  class="reset reset-search">Reset</button>
                <button type="submit" value="submit" class="right">Search</button>
                <div class="clear">
                </div>
                
            </form>
        </div>
    </div>
    
</div>












<!-- scripts============ -->

	<script src="{% static "js/jquery.js"%}"></script>
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="{% static "js/jquery.daterange.js"%}"></script>
	<script src="{% static "js/main.js"%}"></script>
	<script src="{% static "ckeditor/ckeditor-init.js"%}"></script>
	<script src="{% static "ckeditor/ckeditor/ckeditor.js"%}"></script>
	<script type="text/javascript">
		var string = "{{notice.course_branch_year}}";
		if(string != ""){
		    string = string.trim().split(/\s+/);
		    
		    for (i in string){
		    	value = string[i];
		    	string[i] = string[i].replace(/All/g, "All ")+"&nbsp;&nbsp;&nbsp;"
		    	$("#tag-input").append("<li>"+ string[i] +
		    			"<i class=\"fa fa-times\"></i>"+
						"<input type=\"hidden\" name=\"notice_for\" value=\""+ value +"\">"+
						"</li>")
		    }
			
		}

	</script>

</body>
</html>
