{% include 'base.html'%}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <style type="text/css">
    .checkbox{
        display: inline-block;
        width: 9%;
    }
    body{
        overflow-x: hidden;
    }
    </style>
        <form class="form-horizontal" id="search-form">
        <fieldset>

        <legend>Search Notices and Files</legend>

        <div class="form-group">
          <label class="col-md-4 control-label" for="search_text">Search by Title/Description</label>  
          <div class="col-md-4">
          <input id="search_text" name="search_text" type="text" placeholder="Enter text here" class="form-control input-md">
            
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="faculty">Search by Faculty</label>  
          <div class="col-md-4">
          <input id="faculty" name="faculty" type="text" placeholder="Faculty Name" class="form-control input-md">
          <span class="help-block">If you don't know full name then type some part of name</span>  
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="courses">Select Courses</label>
          <div class="col-md-4">
            <label class="checkbox-inline" for="courses-0">
              <input type="checkbox" name="courses" id="courses-0" value="BTECH">
              B.Tech
            </label>
            <label class="checkbox-inline" for="courses-1">
              <input type="checkbox" name="courses" id="courses-1" value="MCA">
              MCA
            </label>
            <label class="checkbox-inline" for="courses-2">
              <input type="checkbox" name="courses" id="courses-2" value="MTECH">
              M.Tech
            </label>
            <label class="checkbox-inline" for="courses-3">
              <input type="checkbox" name="courses" id="courses-3" value="MBA">
              MBA
            </label>
            <label class="checkbox-inline" for="courses-4">
              <input type="checkbox" name="courses" id="courses-4" value="OTHER">
              Other
            </label>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="branches">Select Branches</label>
          <div class="col-md-6">
          <div class="checkbox">
            <label for="branches-0">
              <input type="checkbox" name="branches" id="branches-0" value="CSE">
              CSE
            </label>
            </div>
          <div class="checkbox">
            <label for="branches-1">
              <input type="checkbox" name="branches" id="branches-1" value="IT">
              IT
            </label>
            </div>
          <div class="checkbox">
            <label for="branches-2">
              <input type="checkbox" name="branches" id="branches-2" value="EE">
              EE
            </label>
            </div>
          <div class="checkbox">
            <label for="branches-3">
              <input type="checkbox" name="branches" id="branches-3" value="ECE">
              ECE
            </label>
            </div>
          <div class="checkbox">
            <label for="branches-4">
              <input type="checkbox" name="branches" id="branches-4" value="IC">
              IC
            </label>
            </div>
          <div class="checkbox">
            <label for="branches-5">
              <input type="checkbox" name="branches" id="branches-5" value="CE">
              CE
            </label>
            </div>
          <div class="checkbox">
            <label for="branches-6">
              <input type="checkbox" name="branches" id="branches-6" value="ME">
              ME
            </label>
            </div>
          <div class="checkbox">
            <label for="branches-7">
              <input type="checkbox" name="branches" id="branches-7" value="EEE">
              EEE
            </label>
            </div>
          <div class="checkbox">
            <label for="branches-8">
              <input type="checkbox" name="branches" id="branches-8" value="MT">
              MT
            </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="semesters">Select Semesters</label>
          <div class="col-md-4">
          <div class="checkbox">
            <label for="semesters-0">
              <input type="checkbox" name="semesters" id="semesters-0" value="1">
              1
            </label>
            </div>
          <div class="checkbox">
            <label for="semesters-1">
              <input type="checkbox" name="semesters" id="semesters-1" value="2">
              2
            </label>
            </div>
          <div class="checkbox">
            <label for="semesters-2">
              <input type="checkbox" name="semesters" id="semesters-2" value="3">
              3
            </label>
            </div>
          <div class="checkbox">
            <label for="semesters-3">
              <input type="checkbox" name="semesters" id="semesters-3" value="4">
              4
            </label>
            </div>
          <div class="checkbox">
            <label for="semesters-4">
              <input type="checkbox" name="semesters" id="semesters-4" value="5">
              5
            </label>
            </div>
          <div class="checkbox">
            <label for="semesters-5">
              <input type="checkbox" name="semesters" id="semesters-5" value="6">
              6
            </label>
            </div>
          <div class="checkbox">
            <label for="semesters-6">
              <input type="checkbox" name="semesters" id="semesters-6" value="7">
              7
            </label>
            </div>
          <div class="checkbox">
            <label for="semesters-7">
              <input type="checkbox" name="semesters" id="semesters-7" value="8">
              8
            </label>
            </div>
            <div class="clearfix"></div>
            <div class="input-group date" data-provide="datepicker">
                <input type="text" class="form-control" placeholder="Select Date" name="uploaded_date">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
          </div>
        </div>
        

        <div class="form-group">
          <label class="col-md-4 control-label" for="submit"></label>
          <div class="col-md-4">
            <button id="submit" name="submit" class="btn btn-primary">Search Notices</button>
          </div>
        </div>

        </fieldset>
        </form>

{% if notices %}
<table class="table table-striped" id="notice_table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Faculty</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
    {% for notice in notices %}
    {# Each "notice" is a NoticeDetail model object. #}
      <tr>
        <td><button type="button" class="btn btn-primary" onclick="Bookmarked({{notice.id}});">Bookmark</button></td>
        <td>{{ notice.title|upper }}</td>
        <td>{{ notice.faculty }}</td>
        <td><a href="{{ notice.get_absolute_url }}">Link to Notice</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

<div class="pagination">
    <span class="step-links">
        {% if notices.has_previous %}
            <a href="?page={{ notices.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ notices.number }} of {{ notices.paginator.num_pages }}.
        </span>

        {% if notices.has_next %}
            <a href="?page={{ notices.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% else %}
<h3 align="center">No Notices to display.</h3>
{% endif %}

<script type="text/javascript">
function Bookmarked(notice_id)
{
    $.ajax({
        url : "/notices/"+ notice_id +"/bookmark/",
        type : "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success : function(json)
        {
            alert(json);
        },
        error : function(json)
        {
            alert("error");
        }
    });
}
</script>

<script type='text/javascript'>
    // $("#search-form").submit(function (event) {
    //         event.preventDefault();
    //         var formData = new FormData($('form')[0]);
    //         formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    //         $.ajax({
    //             url: '.',
    //             type: 'GET',
    //             data: formData,
    //             async: false,
    //             cache: false,
    //             contentType: false,
    //             processData: false,
    //             success: function (data, status, notices) {
    //                 alert(data);
    //             },
    //             error: function(){
    //                 alert("Oops !! something went wrong.'})");
    //             }
    //         });
    //         return false;
    //     });
</script>

<script type="text/javascript">
    $('.datepicker').datepicker();

</script>